<ion-header>
  <ion-toolbar color="primary" mode="ios">

    <ion-title>{{'alert'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button [ngClass]="{'selected':selected==0}" (click)="page('auction')" color="danger">
        <ion-label>{{'auctioning_price'|translate}}</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'selected':selected==1}" (click)="page('noti-system')">
        <ion-label>{{'from_system'|translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>