<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'config_pass'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="padding: 5px;">
    <ion-list>
      <ion-item *ngFor="let pro of province;let i=index" (click)="openProvice(pro)">
        <ion-label>{{i+1}}. {{pro.localName_std}}</ion-label>
        <ion-thumbnail slot="end">
          <img src="../../assets/images/marker-location.png">
        </ion-thumbnail>
      </ion-item>
    </ion-list>
    <div *ngIf="province.length == 0" style="text-align: center;padding-top: 50%;">
      <label>{{'no_config_pass'|translate}}</label>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="[ 'add-location']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<!-- <div>
  <ion-button [routerLink]="[ 'add-location']" expand="small"
    style="float: right;width: 130px;height: 30;font-size: small;">
    เพิ่มสถานที่
  </ion-button>
</div> -->