<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>{{'how_to'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="height: calc(100vh - 400px);text-align: center;width:-webkit-fill-available;padding-top: 10%;"
    *ngIf="clip.length ==0">
    {{'no_how_to'|translate}}
  </div>
  <app-how-to-list *ngFor="let item of clip" [clipData]="item"></app-how-to-list>
</ion-content>