<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'account_bank'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="bankList.length > 0">
    <ion-item>
      <ion-label style="font-size: larger;font-weight: bolder; color: #202020">{{'account_bank_co'|translate}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="organizBank.length < 1">
      <label style="padding-left: 10px;color: rgb(139, 139, 139);">- {{'no_account_bank_co'|translate}}</label>
    </ion-item>
    <ion-item lines="none" *ngIf="organizBank.length > 0">
      <label style="padding-left: 10px;font-size: 12px;margin: 0px;" slot="start">(
        {{'account_bank_co_remark'|translate}} )</label>
      <label style="padding-left: 10px;font-size: 10px;color: #f57f17;" slot="end">{{'slide_left'|translate}}</label>
    </ion-item>
    <ion-item-sliding *ngFor="let list of organizBank">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{list.logo}}">
        </ion-avatar>
        <ion-label style="padding-left: 10px;">
          <p *ngIf="lang == 'th'">{{list.bank.th}}</p>
          <p *ngIf="lang == 'en'">{{list.bank.en}}</p>
          <p>
            <span>( {{list.no}} )</span>
          </p>
          <p>
            <span>{{list.name}}</span>
          </p>
        </ion-label>
        <ion-toggle slot="end" [checked]="list.show == 1"
          (ionChange)="updateState($event.detail.checked,list.bb_id,list.member_id,'update')"></ion-toggle>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="copyBookbank(list.no)">
          {{'copy'|translate}}</ion-item-option>
        <ion-item-option style="background-color: #f92b2b;"
          (click)="deleteBookbannk($event.detail.checked,list.bb_id,list.member_id,'delete')">
          {{'delete'|translate}}</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item>
      <ion-label style="font-size: larger;font-weight: bolder; color: #202020;">{{'account_bank_sale'|translate}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="personalBank.length < 1">
      <label style="padding-left: 10px;color: rgb(139, 139, 139);">- {{'no_account_bank_sale'|translate}}</label>
    </ion-item>
    <ion-item lines="none" *ngIf="personalBank.length > 0">
      <label style="padding-left: 10px;font-size: 12px;margin: 0px;" slot="start">(
        {{'account_bank_sale_remark'|translate}} )</label>
      <label style="padding-left: 10px;font-size: 10px;color: #f57f17;" slot="end">{{'slide_left'|translate}}</label>
    </ion-item>
    <ion-item-sliding *ngFor="let list of personalBank">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{list.logo}}">
        </ion-avatar>
        <ion-label style="padding-left: 10px;">
          <p *ngIf="lang == 'th'">{{list.bank.th}}</p>
          <p *ngIf="lang == 'en'">{{list.bank.en}}</p>
          <p>
            <span>( {{list.no}} )</span>
          </p>
          <p>
            <span>{{list.name}}</span>
          </p>
        </ion-label>
        <ion-toggle slot="end" [checked]="list.show == 1"
          (ionChange)="updateState($event.detail.checked,list.bb_id,list.member_id,'update')"></ion-toggle>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="copyBookbank(list.no)">
          {{'copy'|translate}}</ion-item-option>
        <ion-item-option style="background-color: #f92b2b;"
          (click)="deleteBookbannk($event.detail.checked,list.bb_id,list.member_id,'delete')">
          {{'delete'|translate}}</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


  <div *ngIf="bankList.length < 1" style="text-align: center;padding-top: 50%;">
    <strong>{{'notfound_account_bank'|translate}}</strong>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addBookBank()">
    <ion-fab-button style="width: 40px;height: 40px;">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>