<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>{{'confirm_password'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="confirm-content">

  <form [formGroup]="signupForm" (ngSubmit)="doSignup()">
    <ion-list class="inputs-list" lines="full">
      <div class="text1">{{'confirm_password_sms'|translate}} {{'ref_sms'|translate}} {{code}}</div>
      <!-- <ion-item class="input-item">
        <ion-input maxlength="6" type="tel" formControlName="tel">
        </ion-input>
      </ion-item> -->
      <ion-input maxlength="1" formControlName="otp1" type="tel" (keyup)="otpController($event,otp2,'')" #otp1 required>
      </ion-input>
      <ion-input maxlength="1" formControlName="otp2" type="tel" (keyup)="otpController($event,otp3,otp1)" #otp2 required>
      </ion-input>
      <ion-input maxlength="1" formControlName="otp3" type="tel" (keyup)="otpController($event,otp4,otp2)" #otp3 required>
      </ion-input>
      <ion-input maxlength="1" formControlName="otp4" type="tel" (keyup)="otpController($event,otp5,otp3)" #otp4 required>
      </ion-input>
      <ion-input maxlength="1" formControlName="otp5" type="tel" (keyup)="otpController($event,otp6,otp4)" #otp5 required>
      </ion-input>
      <ion-input maxlength="1" formControlName="otp6" type="tel" (keyup)="otpController($event,'',otp5)" #otp6 required>
      </ion-input>
      <div class="hide_line">
      </div>
    </ion-list>
    <p>
      {{'not_ref_sms'|translate}}<a href="javascript:void(0)" (click)="send_agen()">
        {{'try_sms'|translate}}
      </a>
    </p>
    <ion-row class="other-auth-options-row">
      <ion-button class="signup-btn" type="submit" expand="round" [disabled]="!signupForm.valid">
        {{'check_verify'|translate}}
      </ion-button>
    </ion-row>
  </form>

  <!-- <div class="register">
    <p color="tertiary">ฉันเป็นสมาชิกอยู่แล้ว</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">ลงทะเบียนที่นี่</ion-button>
  </div> -->
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>