// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
  --highlight-color-valid: none;
  --highlight-color-invalid: none;
  --highlight-height: 0px;
  
}
:host(.item-interactive.ion-valid) {
  --highlight-background: #5a5959;
}
ion-item {
  --border-color: transparent !important;
}
.text1 {
  font-size: 20px;
  color: #7d7b7a;
  text-align: center;
}
ion-list {
  text-align: center;
}
.ng-invalid {
  --border-color: transparent !important;
}
ion-input {
  text-align: center;
  display:inline-block;
  width:40px;
  height:40px;
  margin:2px;
  border-radius: 50%;
  --background:#e1e1e1;
  --padding-start:0px;
  // border: 0px;
  // --border-color: transparent !important;
  // letter-spacing: 31px;
  // font-size: 24px;
  // --padding-start: 22px !important;
  // color: #5a5959;
  // --width: 250px;
  // background-image: url("../../assets/images/input_num_ver.png");
  // background-repeat: repeat-x;
}
:host(.item-interactive.ion-valid) {
  --highlight-background: #fff;
}
// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.confirm-content {
  --background: var(--page-background);
  --padding-start: 10vw;
  --padding-end: 10vw;
  --padding-top: 50px;
  --padding-bottom: var(--page-margin);
  .inputs-list {
    --ion-item-background: var(--page-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
      width: 270px;
    }
  }

  ion-button {
    height: 48px;
    font-size: 20px;
  }

  .other-auth-options-row {
    justify-content: center;
    align-items: center;

    .login-btn {
      --color: var(--ion-color-secondary);
      width: 257px;
      margin: 0px;
      height: 48px;
    }
  }
  p {
    text-align: center;
    color: #5a5959;
    font-size: 14px;
    a {
      color: #02636a;
    }
    margin-bottom: 15vh;
  }
}
form {
  margin: 0 auto;
  display: table;
}

ion-input {
  outline: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
}
ion-input {
  border: none; // for black border
  outline: none; // for focus outline remove
  --highlight-color-valid: #5a5959;
  --highlight-color-invalid: #5a5959;
  --highlight-height: 0px;
}

.hide_line{
  width: 100%;
  height: 10px;
  margin-top: -5px;
  background-color: #f2f2f2;
  position: relative;
}