<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div class="header">{{'doing_auction_oder'|translate}} ({{new_order.length}})
    <span class="readall" (click)="searchList(search)" *ngIf="search == 5">{{'display_all'|translate}}</span>
    <span class="readall" (click)="searchList(search)" *ngIf="search == 0">{{'display_min'|translate}}</span>
  </div> -->
  <ion-list>
    <ion-item lines="none" *ngFor="let o of new_order" (click)="select(o.order_id,'auction')">
      <div class="img" [ngStyle]="{'background-image': 'url(' + o.p_img + ')'}">

      </div>
      <!-- <img src="../../assets/images/Intersection 5.png"> -->
      <div class="right">
        <div class="top">
          <span class="order_id">
            #{{o.order_id}} 
            <span style="font-size: xx-small;">{{o.formatSTR.th}}</span>
            <!-- <span *ngIf="lang == 'th'" style="font-size: xx-small;">{{o.formatSTR.th}}</span>
            <span *ngIf="lang == 'en'" style="font-size: xx-small;">{{o.formatSTR.en}}</span> -->
          </span>
          <span class="time">
            {{'time_left'|translate}} :
            <app-countdown-timer class="item-countdown " fill="countdown" [end]="o.end_date"
              [units]="{from: 'hour', to: 'second'}"></app-countdown-timer>
          </span>
        </div>
        <div class="center">
          <h3 class="name">{{o.p_name}}</h3>
          <span class="number">
            <span style="color: #444241;">{{'unit'|translate}}</span>
            {{o.count}} {{'cube'|translate}}
          </span>
        </div>
        <div class="buttom">
          <ng-container *ngIf="o.low < o.low_u; else elseLow">
            <span class="text2">{{'do_auction'|translate}}
              <span class="height">{{o.low_u|number}}/{{'cube'|translate}} ฿</span></span>
          </ng-container>
          <ng-template #elseLow>
            <span class="text2">{{'do_win_auction'|translate}}
              <span class="low">{{o.low_u|number}}/{{'cube'|translate}} ฿</span></span>
          </ng-template>

          <span class="lowprice">{{'low_price'|translate}}
            <span>{{o.low|number}}/{{'cube'|translate}} ฿</span>
          </span>
        </div>
        <!-- <div class="center">
          <div style="display: inline-block;">
            <span style="font-size: 10px;color: #444241;">ประเภทรถ</span>
            <span style="font-size: 10px;color: #7d7b7a;">
              {{o.carStr}} (ส่ง {{o.round}} รอบ)
            </span>
          </div>
          <div style="display: inline-block;position: absolute;right: 0px;">
            <span style="font-size: 10px;color: #444241;">ค่าส่ง</span>
            <span style="font-size: 10px;color: #7d7b7a;"> 99 / เที่ยว</span>
          </div>
        </div> -->
        <div class="buttom">
          <span class="text2">{{'total_price'|translate}} <span>{{o.low_u*o.count|number}} ฿</span></span>
          <span class="lowprice">{{'low_price'|translate}}
            <span>{{o.low*o.count|number}} ฿</span>
          </span>
        </div>
        <div class="buttom" *ngIf="o.count < 3">
          <span class="text2" style="color: darkred; font-size: 12px;">({{'no_sum_delivery_price'|translate}})</span>
        </div>
        <div class="buttom" *ngIf="o.count > 2">
          <span class="text2" style="color: darkgreen; font-size: 12px;">({{'sum_delivery_price'|translate}})</span>
        </div>
        <div class="buttom">
          {{'pass'|translate}} :
          <span style="color: #7d7b7a;">
            {{o.send_date|date:'dd/MM/yyyy'}} / {{o.send_time| slice:0:5}}
            <br>
            {{o.address_send}} {{o.address}}
          </span>
        </div>
      </div>
    </ion-item>
    <ion-item *ngIf="new_order.length == 0">
      <div style="height: calc(100vh - 400px);text-align: center;width:-webkit-fill-available;padding-top: 10%;">
        {{'doing_auction_oder_in'|translate}}
      </div>
    </ion-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>