.header {
    background-image: url(../../assets/images/header_auction.png);
    height: max-content;
    width: 100%;
    font-size: x-small;

    .bg-dark {
        width: 100%;
        height: max-content;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 12px;
        padding: 5px 15px;
        ion-col {
            padding: 0px;
            // .address {
            //     display: block;
            //     margin-left: 33px;
            //     margin-top: -18px;
            // }
        }
        ion-badge {
            background-color: white;
            color: #ee2458;
            font-size: 12px;
            padding: 1px;
        }
    }
    .head-title{
        text-shadow:0px 1px rgb(107, 64, 0);
        color: darkorange;
    }
    .product {
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
}
.details {
    padding: 5px 15px;
    padding-top: 0px;
    text-align: center;

    ion-row {
        border-bottom: solid 1px var(--ion-color-light-shade);
    }
    ion-col {
        span {
            font-weight: bold;
            font-size: 10px;
        }
        .wait {
            font-size: 16px;
            color: #f57f17;
            font-weight: bold;
        }
        .time {
            font-size: 16px;
            color: rgb(194,23,23);
            font-weight: bold;
        }
        .price {
            font-size: 16px;
            color: #067a1d;
            font-weight: bold;
        }
    }
    .name {
        font-weight: normal !important;
        font-size: small;
    }
}
.auction {
    ion-col {
        padding-top: 5px;
    }
    padding: 0px 15px;
    .price-queue {
        font-size: 10px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .price_group {
        border-radius: 8px;
        border: solid #aaa 1px;
        ion-button {
            width: 33px;
            height: 28px;
            zoom: 0.8;
            font-weight: bold;
            font-size: 9px;
            display: inline-block;
            --border-radius: 10px;
        }
        .row {
            display: inline-flex;
            width: 100%;
            text-align: center;
            .col {
                width: 25%;
                display: table-column;
            }
            .col-price {
                padding-top: 5px;
                width: 50%;
                ion-input {
                    --padding-start: 0px;
                    --padding-end: 0px;
                    --padding-top: 1px;
                    --padding-bottom: 1px;
                }
            }
        }
        // .button-end {
        //     float: right;
        // }
        // .price {
        //     font-size: 16px;
        //     font-weight: bold;
        //     display: initial;
        //     text-align: center;
        //     width: 100%;
        //     margin: 0 auto;
        //     padding-top: 6px;
        // }
        .transport {
            text-align: center;
            padding: 5px 0px 5px 0px;
            .s1 {
                color: #878585;
                font-size: 10px;
                float: left;
                margin-top: 5px;
                margin-left: 5px;
            }
            .s2 {
                color: #6d6868;
                display: inline-block;
                font-size: 16px;
                border-radius: 10px;
                padding: 0px 13px;
                line-height: 17px;
                font-weight: bold;
                border: solid 1px #707070;
                #around {
                    font-size: small;
                    width: 40px;
                    --padding-start: 0px;
                    --padding-end: 0px;
                    --padding-top: 1px;
                    --padding-bottom: 1px;
                }
            }
            .s3 {
                color: #878585;
                margin-top: 5px;
                margin-right: 5px;
                font-size: 10px;
                float: right;
            }
        }
    }
    .tb-sum-price {
        display: inline-flex;
        width: 100%;
        .sum-price {
            display: table-cell;
            width: 30%;
            padding-left: 5px;
            font-size: 10px;
            margin-top: 6px;
        }
        .price {
            display: table-cell;
            text-align: right;
            width: 70%;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .auction-btn {
        --ion-color-base: #0ea227 !important;
        --ion-color-contrast: #fff !important;
        --border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        img {
            margin-right: 5px;
        }
    }
}
@media only screen and (min-width: 640px) {
    .auction {
        padding-left: 150px;
        padding-right: 150px;
    }
}
.body {
    padding: 5px 10px;
    .header2 {
        background-color: #f57f17;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        // font-weight: bold;
        img {
            width: 13px;
            margin-left: 5px;
        }
        .readall {
            position: absolute;
            font-size: 20px;
            right: 20px;
            padding-top: 3px;
        }
    }
    table {
        margin-top: 5px;
        width: 100%;
        .tr-bottom{
            border-bottom: solid 1px #d1d0d0;
        }
        thead {
            tr {
                td {
                    border: solid 1px #d1d0d0;
                    padding: 2px 5px;
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
        tbody {
            .min {
                background-color: #ffeedf;
                color: #f57f17;
            }
            .win{
                background-color: #ffbe34;
            }
            .min-win{
                background-color: #ffd33e;
                color: #ba5700;
            }
            tr {
                td {
                    padding: 2px 5px;
                    font-size: 10px;
                }
            }
        }
    }
}
///////////////////
#slip{
    .header2 {
        background-color: #f57f17;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        position: relative;
        z-index: 2;
        // font-weight: bold;
        img {
            width: 13px;
            margin-left: 5px;
        }
        .readall {
            position: absolute;
            font-size: 20px;
            right: 20px;
            padding-top: 3px;
        }
    }
    
    .address {
        display: flow-root;
        padding: 10px 10px 10px 15px;
        margin-bottom: 5px;
        .row-address {
            width: 100%;
            .col-address {
                width: 50%;
                display: inline-grid;
            }
        }
    }
    
    .slip-body {
        display: flow-root;
        .order-id {
            .left {
                float: left;
                padding: 0px 0px 10px 0px;
            }
        }
        .order-date {
            .right {
                float: right;
            }
        }
    }
    
    table {
        width: 100%;
        font-size: 12px;
        .b-around{
            border: solid 1px;
        }
        td{
            padding: 2px;
        }
        .hide-RL{
            border-left: solid 1px;
            border-right: solid 1px;
            //border-bottom: solid 1px;
            //border-top: solid 1px;
        }
        .hide-B{
            border-bottom: hidden;
        }
        .bb-dubble{
            border-bottom: double;
        }
    }
    
}
