<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title># {{order_head.order_id}} :
      <span *ngIf="lang == 'th'">{{order_head.p_name.th}}</span>
      <span *ngIf="lang == 'en'">{{order_head.p_name.en}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
    <div class="bg-dark">
      <ion-row>
        <ion-col>
          <span class="head-title">
            {{'list'|translate}}:
          </span> #
          {{order_head.order_id}}
          :
          <span *ngIf="lang == 'th'">{{order_head.p_name.th}}</span>
          <span *ngIf="lang == 'en'">{{order_head.p_name.en}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="head-title">
            {{'format'|translate}}:
          </span> 
          <span *ngIf="lang == 'th'">{{order_head.order_formatSTR.th}}</span>
          <span *ngIf="lang == 'en'">{{order_head.order_formatSTR.en}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="head-title">
            {{'date_pass'|translate}}:
          </span>
          {{order_head.send_date|date:'dd/MM/yyyy'}}
        </ion-col>
        <ion-col>
          <span class="head-title">
            {{'time_pass'|translate}}:
          </span>
          {{order_head.send_time| slice:0:5}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="head-title">
            {{'unit'|translate}}:
          </span>
          <ion-badge>{{order_head.count}}</ion-badge> {{'cube'|translate}}
          <br />
          <span class="head-title">
            {{'type_car'|translate}}:
          </span>
          <span *ngIf="order_head.car == 1">{{'truck_S'|translate}}</span>
          <span *ngIf="order_head.car == 2">{{'truck_XL'|translate}}</span>
          <br />
          <span class="head-title">
            {{'total_round'|translate}}:
          </span>
          {{round_price}} {{'round'|translate}}
          <span *ngIf="order_head.count >= 3">{{'free_pass'|translate}}</span>
          <br />
        </ion-col>
        <ion-col>
          <span class="head-title" style="display: inline-block;">
            {{'pass'|translate}}:
          </span>
          <span class="address" *ngIf="lang == 'th'">
            {{order_head.address}} ต.{{order_head.subdistrict_th}} อ.{{order_head.district_th}}
            จ.{{order_head.province_th}}
          </span>
          <span class="address" *ngIf="lang == 'en'">
            {{order_head.address}} Tambon {{order_head.subdistrict_en}}, Amphur {{order_head.district_en}},
            {{order_head.province_en}}
          </span>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="details">
    <ion-row>
      <ion-col>
        <div *ngIf="auct_type == 'auction' && order_head.auction == 'can_auction'">
          <div>
            <label style="font-size: x-small;">{{'auction_end_time'|translate}}</label>
          </div>
          <div class="time">
            <app-countdown-timer class="item-countdown " fill="countdown" [end]="order_head.end_date"
              [units]="{from: 'hour', to: 'second'}"></app-countdown-timer>
          </div>
        </div>
        <div *ngIf="auct_type == 'end' || order_head.auction == 'cant_auction'">
          <div>
            <label style="font-size: x-small;">{{'status'|translate}}</label>
          </div>
          <div class="wait" *ngIf="order_head.choose == 0">
            {{'wait_confirm_auction'|translate}}
          </div>
          <div class="time" *ngIf="sale.member_id == order_auct_win.sale_id && order_head.choose == 1">
            <label style="font-size: small;" *ngIf="order_head.status == -1">{{'cancel'|translate}}</label>
            <label style="font-size: small;color: rgb(247, 185, 131);"
              *ngIf="order_head.status == -2||order_head.status == 0">{{'wait_pay'|translate}}</label>
            <label style="font-size: small;color: rgb(247, 167, 97);"
              *ngIf="order_head.status == 1">{{'wait_pass'|translate}}</label>
            <label style="font-size: small;color: rgb(243, 148, 64);"
              *ngIf="order_head.status == 2">{{'passing'|translate}}</label>
            <label style="font-size: small;color: rgb(245,127,23);"
              *ngIf="order_head.status == 3">{{'passed'|translate}}</label>
            <label style="font-size: small;color: rgb(255, 119, 0);"
              *ngIf="order_head.status == 4">{{'success'|translate}}</label>
          </div>
          <div class="time" *ngIf="sale.member_id != order_auct_win.sale_id && order_head.choose == 1">
            <label style="font-size: small;">{{'lose_auction'|translate}}</label>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <label style="font-size: x-small;" *ngIf="auct_type != 'end'">{{'low_price'|translate}}</label>
          <label style="font-size: x-small;" *ngIf="auct_type == 'end'">{{'now_price'|translate}}</label>
        </div>
        <div class="price">
          <label *ngIf="order_auct_min.length != 0">
            <label
              *ngIf="order_head.count < 3 && auct_type != 'end'">{{(order_auct_min.ap_price*order_head.count)+(round_price*order_auct_min.ap_diff_price)|number}}</label>
            <label
              *ngIf="order_head.count >= 3 && auct_type != 'end'">{{order_auct_min.ap_price*order_head.count|number}}</label>

            <label
              *ngIf="order_head.count < 3 && auct_type == 'end'">{{(order_auct_win.ap_price*order_head.count)+(round_price*order_auct_win.ap_diff_price)|number}}</label>
            <label
              *ngIf="order_head.count >= 3 && auct_type == 'end'">{{order_auct_win.ap_price*order_head.count|number}}</label>
          </label>
          <label *ngIf="order_auct_min.length == 0">-</label>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <label style="font-size: x-small;" *ngIf="auct_type != 'end'">{{'person_low_price'|translate}}</label>
          <label style="font-size: x-small;" *ngIf="auct_type == 'end'">{{'person_win'|translate}}</label>
        </div>
        <div class="name">
          <label *ngIf="order_auct_min.length != 0 && auct_type != 'end'">{{order_auct_min.name}}</label>
          <label *ngIf="order_auct_min.length == 0 && auct_type != 'end'">-</label>
          <label *ngIf="auct_type == 'end'">{{order_auct_win.name}}</label>
        </div>

      </ion-col>
    </ion-row>
  </div>
  <div style="padding: 0px 8px 5px 8px;"
    *ngIf="(auct_type == 'end' || order_head.auction == 'cant_auction') && order_auct_win.sale_id == sale.member_id && order_head.choose == 1">
    <ion-row style="border-bottom: solid 1px var(--ion-color-light-shade);">
      <ion-col size="12">
        <div style="font-size: smaller; padding: 5px;"
          [hidden]="order_head.status == -1 ||order_head.status == 1 || order_head.status == 2 || order_head.status == 3">
          <div>
            <label>{{'customer'|translate}} : </label>
            <span style="color: rgb(114, 114, 114);">
              {{order_head.name}}
            </span>
          </div>
          <div [hidden]="order_head.status == -2||order_head.status == 0">
            <label>{{'number_phone_contarct'|translate}} : </label>
            <span style="color: rgb(114, 114, 114);">
              {{order_head.phone}}
            </span>
          </div>
          <div>
            <label>{{'address_pass'|translate}} : </label>
            <span style="color: rgb(114, 114, 114);">
              <span [hidden]="order_head.status == -2||order_head.status == 0">
                {{order_head.address}}
              </span>
              <span class="address" *ngIf="lang == 'th'">
                {{order_head.address}} ต.{{order_head.subdistrict_th}} อ.{{order_head.district_th}}
                จ.{{order_head.province_th}}
              </span>
              <span class="address" *ngIf="lang == 'en'">
                {{order_head.address}} Tambon {{order_head.subdistrict_en}}, Amphur {{order_head.district_en}},
                {{order_head.province_en}}
              </span>
            </span>
          </div>
        </div>
        <ion-button color="success" expand="block" class="auction-btn" (click)="sentCongrete(order_head.order_id)"
          expand="block" *ngIf="order_head.status==1" style="
  --padding-end:10px;
  --ion-color-base: #0ea227 !important;
  --ion-color-contrast: #fff !important;
  height: 60px;
  --border-radius: 8px;">
          {{'wait_pass'|translate}}
          <br>
          {{'date'|translate}} {{order_head.send_date|date:'dd/MM/yyyy'}} {{'time'|translate}}
          {{order_head.send_time| slice:0:5}}
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
  <form [formGroup]="auctForm" style="margin-top: 10px;"
    *ngIf="auct_type == 'auction' && order_head.auction == 'can_auction' && (order_head.format.type == 0 || order_head.format.type == 1 && order_head.format.data == null)">
    <div class="auction">
      <ion-row>
        <ion-col col="6">
          <div style="position: absolute;bottom: 12px;">
            <span class="price-queue">
              {{'quote'|translate}}/{{'cube'|translate}}
            </span>
            <div class="price_group">
              <div class="row">
                <div class="col">
                  <ion-button size="small" (click)="changePrice('add',20,auctForm.value.auct_price)">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                  </ion-button>
                </div>
                <div class="col col-price">
                  <ion-input style="--background:bisque;" type="number" min="0" formControlName="auct_price"
                    [value]="price_last" (ionChange)="calCube(auctForm.value.auct_price)" placeholder="-" required>
                  </ion-input>
                </div>
                <div class="col">
                  <ion-button class="button-end" size="small" (click)="changePrice('re',20,auctForm.value.auct_price)">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                  </ion-button>
                </div>
              </div>
              <div class="transport" [hidden]="order_head.count >= 3">
                <span class="s1">{{'priec_pass'|translate}}</span>
                <span class="s2">
                  <ion-input type="number" min="1" step="1" id="around" formControlName="around_price"
                    (ionChange)="calCube(auctForm.value.auct_price)" placeholder="-" [disabled]="order_head.count >= 3"
                    required></ion-input>
                </span>
                <span class="s3">{{'per_round'|translate}}</span>
              </div>
              <div style="color: rgb(138, 85, 85);text-align: center; font-size: small;font-size: 11px;">
                {{'3_free'|translate}}
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col col="6">
          <ion-row>
            <ion-col size="12">
              <div class="tb-sum-price">
                <div class="sum-price">
                  <span>{{'total_price'|translate}}</span>
                </div>
                <div class="price">
                  <span>
                    {{price_cube |number}} ฿
                  </span>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button color="success" expand="block" class="auction-btn" (click)="auctionOrder()"
                [disabled]="auctForm.status=='INVALID'">
                <img src="../../assets/images/ic_gavel_242px.png"> {{'auction_price'|translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </form>

  <div class="body" *ngIf="order_head.status != 1 || order_head.status != 2 || order_head.status != 3 ">
    <!-- <div class="header2">
      <ion-icon name="star"></ion-icon> {{'conclude_acution_history'|translate}}
      <span class="readall">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </span>
    </div>
    <table style="magin-bottom: 5px;">
      <thead>
        <tr>
          <td colspan="2" class="tr-bottom" align="center">
            {{'user_name_action'|translate}}
          </td>
          <td class="tr-bottom" align="center">
            {{'price'|translate}}/{{'cube'|translate}}
          </td>
          <td class="tr-bottom" align="center">
            {{'priec_pass'|translate}}/{{'round'|translate}}
          </td>
          <td class="tr-bottom" style="border-right: none;" align="center">
            {{'time'|translate}}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" class="tr-bottom">
            <div style="white-space: nowrap;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;">
              <ion-badge color="danger" mode="ios" style="font-size: 8px;padding: 2px 5px 2px 5px;"
                *ngIf="auct_type == 'end' && order_head.choose == 1">
                {{'win'|translate}}</ion-badge>
              <ion-badge color="danger" mode="ios" style="font-size: 8px;padding: 2px 5px 2px 5px;"
                *ngIf="auct_type != 'end' || (auct_type == 'end' && order_head.choose == 0)">
                1</ion-badge>
              <label>
                {{order_auct_win.name}}
              </label>
            </div>

          </td>
          <td class="tr-bottom" align="right">
            {{order_auct_win.ap_price|number}}
          </td>
          <td class="tr-bottom" align="right">
            {{order_auct_win.ap_diff_price|number}}
          </td>
          <td class="tr-bottom" align="center" style="font-size: 7px;font-weight: bold;">
            {{order_auct_win.create_date|date:'dd/MM/yyyy H:ss'}}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="tr-bottom">
            <div style="white-space: nowrap;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;">
              <ion-badge color="primary" mode="ios" style="font-size: 8px;padding: 2px 5px 2px 5px;">
                {{'low'|translate}}</ion-badge>
              <label>
                {{order_auct_min.name}}
              </label>
            </div>
          </td>
          <td class="tr-bottom" align="right">
            {{order_auct_min.ap_price|number}}
          </td>
          <td class="tr-bottom" align="right">
            {{order_auct_min.ap_diff_price|number}}
          </td>
          <td class="tr-bottom" align="center" style="font-size: 7px;font-weight: bold;">
            {{order_auct_min.create_date|date:'dd/MM/yyyy H:ss'}}
          </td>
        </tr>
      </tbody>
    </table> -->


    <div class="header2"> <img src="../../assets/images/ic_gavel_242px.png"
        *ngIf="auct_type == 'end'  && order_auct_win.sale_id == sale.member_id">
      {{'history_action'|translate}}
    </div>
    <table *ngIf="order_head.format.type == 0">
      <thead>
        <tr>
          <td style="border-left: none;">
            #
          </td>
          <td align="center">
            {{'user_name_action'|translate}}
          </td>
          <td align="center">
            {{'price'|translate}}/{{'cube'|translate}}
          </td>
          <td align="center">
            {{'priec_pass'|translate}}/{{'round'|translate}}
          </td>
          <td style="border-right: none;" align="center">
            {{'time'|translate}}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{
          'min': i == 0,
          'win':auct.ap_id == order_auct_win.ap_id,
          'min-win':auct.ap_id == order_auct_win.ap_id && i == 0
        }" *ngFor="let auct of order_auct;let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            <div style="white-space: nowrap;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;">
              <ion-badge color="primary" style="font-size: 5px;" mode="ios" *ngIf="i == 0"
                style="font-size: 8px;padding: 1px;margin: 0px 1px 0px 1px;">{{'low'|translate}}</ion-badge>
              <ion-badge color="danger" style="font-size: 5px;" mode="ios" *ngIf="auct.ap_id == order_auct_win.ap_id"
                style="font-size: 8px;padding: 1px;margin: 0px 1px 0px 1px;">
                <span *ngIf="auct_type != 'end' || (auct_type == 'end' && order_head.choose == 0)">
                  {{'leader'|translate}}
                </span>
                <span *ngIf="auct_type == 'end' && order_head.choose == 1">
                  {{'person_win'|translate}}
                </span>
              </ion-badge>
              <span>
                {{auct.name}}
              </span>
            </div>
          </td>
          <td align="right">
            {{auct.ap_price|number}}
          </td>
          <td align="right">
            {{auct.ap_diff_price|number}}
          </td>
          <td align="center" style="font-size: 7px;font-weight: bold;">
            {{auct.create_date|date:'dd/MM/yyyy H:mm'}}
          </td>
        </tr>
      </tbody>

    </table>

    <table *ngIf="order_head.format.type == 1 && order_head.format.data != null">
      <thead>
        <tr>
          <td style="border-left: none;">
            #
          </td>
          <td align="center">
            {{'user_name_action'|translate}}
          </td>
          <td align="center">
            {{'price'|translate}}/{{'cube'|translate}}
          </td>
          <td align="center">
            {{'priec_pass'|translate}}/{{'round'|translate}}
          </td>
          <td style="border-right: none;" align="center">
            {{'time'|translate}}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1 
          </td>
          <td>
            <div style="white-space: nowrap;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;">
              <span>
                {{ sale.name}}
              </span>
            </div>
          </td>
          <td align="right">
            {{order_head.format.data.ap_price|number}}
          </td>
          <td align="right">
            {{order_head.format.data.ap_diff_price|number}}
          </td>
          <td align="center" style="font-size: 7px;font-weight: bold;">
            {{order_head.format.data.create_date|date:'dd/MM/yyyy H:mm'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <app-auction-slip [order_data]="order_head" translate
    *ngIf="order_head.user_win == sale.member_id && (order_head.status == -2||order_head.status == 1 || order_head.status == 2 || order_head.status == 3|| order_head.status == 4)">
  </app-auction-slip> -->

  <div style="padding: 10px;" id="slip"
    *ngIf="order_head.user_win == sale.member_id && (order_head.status == -2||order_head.status == 1 || order_head.status == 2 || order_head.status == 3|| order_head.status == 4)">
    <div class="header2">
      <ion-icon name="star"></ion-icon>{{'conclude_passing'|translate}}
    </div>
    <div style="background-color: #faece2;position: relative;top: -3;z-index: 1;padding: 15px 10px 10px 10px;">
      <div class="address">
        <div class="row-address">
          <div class="col-address">
            <div class="left" style="text-align: start;">
              <div>
                {{'sender'|translate}}
              </div>
              <div style="font-size: 10px;padding: 5px 0px 0px 5px;">
                <div>
                  <strong>{{'name'|translate}} : </strong>{{slip.location.sale.name}}
                </div>
                <div>
                  <strong>{{'phone_id'|translate}} : </strong>{{slip.location.sale.phone}}
                </div>
                <div>
                  <strong>{{'email'|translate}} : </strong>{{slip.location.sale.email}}
                </div>
                <div>
                  <strong>{{'address'|translate}} : </strong>{{slip.location.sale.address}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-address">
            <div class="right" style="text-align: end;">
              <div>
                {{'recipient'|translate}}
              </div>
              <div style="font-size: 10px;padding: 5px 5px 0px 0px;">
                <div>
                  <strong>{{'name'|translate}} : </strong>
                  <span *ngIf="order_head.receive_name == ''">{{slip.location.customer.name}}</span>
                  <span *ngIf="order_head.receive_name != ''">{{order_head.receive_name}}
                    ({{'substitute'|translate}})</span>
                </div>
                <div>
                  <strong>{{'phone_id'|translate}} : </strong>
                  <span *ngIf="order_head.receive_phone == ''">{{slip.location.customer.phone}}</span>
                  <span *ngIf="order_head.receive_phone != ''">{{order_head.receive_phone}}</span>

                </div>
                <div>
                  <strong>{{'address'|translate}} : </strong>{{slip.location.customer.address}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="padding: 3px;">
        <div class="slip-body">
          <div class="order-id">
            <div class="left">
              <span style="font-size: 18px;">
                <strong>Order : </strong> #{{slip.order.id}}
              </span>
            </div>
          </div>
          <div class="order-date">
            <div class="right">
              <span style="font-size: 12px;">
                <strong>{{'day_send'|translate}} : </strong>
                {{slip.order.send_date}}
              </span>
            </div>
          </div>
        </div>
        <table border="0" style="border-radius: 5px; padding: 3px;">
          <tr>
            <td class="b-around" align="center">
              <strong>{{'list'|translate}}</strong>
            </td>
            <td class="b-around" align="center">
              <strong>{{'unit'|translate}}</strong>
            </td>
            <td class="b-around" align="center">
              <strong>{{'price'|translate}}/{{'unit'|translate}}</strong>
            </td>
            <td class="b-around" align="center">
              <strong>{{'total_price'|translate}}</strong>
            </td>
          </tr>
          <tr *ngFor="let item of slip.items; let i=index">
            <td style="padding-left: 10px;">
              {{i+1}}.
              <span *ngIf="lang == 'th'">{{item.item.th}}</span>
              <span *ngIf="lang == 'en'">{{item.item.en}}</span>
            </td>
            <td align="center">
              {{item.qty|number}}
              <span *ngIf="lang == 'th'">{{item.unit.th}}</span>
              <span *ngIf="lang == 'en'">{{item.unit.en}}</span>
            </td>
            <td align="right">
              {{item.val|number:'1.2-2'}}
            </td>
            <td align="right">
              {{item.val * item.qty|number:'1.2-2'}}
            </td>
          </tr>
          <tr style="border-top: solid 1px;">
            <td colspan="2"></td>
            <td align="right" class="bb-dubble">
              <strong>{{'total'|translate}}</strong>
            </td>
            <td align="right" class="bb-dubble">
              {{slip.total|number:'1.2-2'}}
            </td>
          </tr>
          <tr>
            <td colspan="4" style="height: 20px;"></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</ion-content>