<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'pick_district'|translate}}</ion-title>
    <ion-buttons slot="end" style="border: solid;border-radius: 6px;">
      <ion-button (click)="save()">
        <ion-label>{{'done'|translate}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'all'|translate}}</ion-label>
      <ion-checkbox (ionChange)="changeSelectAll($event)"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let item of obj.data_obj">
      <ion-label>{{item.am_name_std}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>