<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'login_with_facebook'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCtr">
    <div style="padding: 15px;">
      <div id="profile">
        <div id="img_pro" [ngStyle]="{'background-image': 'url('+profile.picture+')'}">
        </div>
      </div>
      <div id="content_fb">
        <label class="title">{{'name'|translate}} : </label>
        <span id="name">{{profile.name}}</span>
        <br>
        <label class="title">{{'email'|translate}} : </label>
        <span id="email">{{profile.email}}</span>
      </div>
      <div id="phone_reg">
        <div id="inp_tel">
          <ion-input type="tel" maxlength="10" minlength="9" formControlName="tel" placeholder="0xx-xxx-xxxx" debounce="500" (ionChange)="hasPhone(formCtr.value.tel)"></ion-input>
        </div>
        <div *ngIf="error.status == 1" class="txt-errors">
          <ul>
            <li style="color: maroon;" *ngFor="let e of error.txt">{{e}}</li>
          </ul>
        </div>
        <div *ngIf="error.status == 2" style="padding-top: 5px;">
          <label style="color: darkgreen;">{{error.txt[0]}}</label>
        </div>
      </div>
      <div style="text-align: -webkit-center;padding-top: 20px;">
        <ion-button (click)="registerWithFacebook(formCtr.value.tel,1,error.typeCF)" [disabled]="formCtr.status == 'INVALID' || (error.status == 1 || error.status == 0)">
          {{'register_here'|translate}}
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>