#profile {
    text-align: -webkit-center;
    padding-top: 10vh;
    #img_pro {
        //background-image: url("https://i.imgflip.com/20lq5x.jpg");
        background-size: cover;
        width: 150px;
        height: 150px;
        border-radius: 80px;
        border: solid 5px #f7f7f7;
        box-shadow: 0px 0px 5px #737373;
    }
}

#content_fb {
    text-align: -webkit-center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    .title {
        font-weight: bold;
    }
    #name,
    #email {
        min-width: 327px;
    }
}

#phone_reg {
    text-align: -webkit-center;
    padding-top: 20px;
    #inp_tel {
        background-color: #ffe8d5;
        box-shadow: inset 0px 2px 3px 0px #673000;
        width: 60vw;
        font-size: x-large;
    }
    .txt-errors{
        width: 80vw;
        ul{
            text-align: initial;
        }
    }
}
