<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div class="header">{{'new_order'|translate}} ({{new_order.length}})
    <span class="readall" (click)="searchList(search)" *ngIf="search == 5">{{'display_all'|translate}}</span>
    <span class="readall" (click)="searchList(search)" *ngIf="search == 0">{{'display_min'|translate}}</span>
  </div> -->
  <ion-list>
    <ion-item lines="none" *ngFor="let o of new_order" (click)="select(o.order_id,'auction')">
      
      <div class="img" [ngStyle]="{'background-image': 'url(' + o.p_img + ')'}">

      </div>
      <!-- <img src="../../assets/images/Intersection 5.png"> -->
      <div class="right">
        <div class="top order-wait">
          <span class="order_id">
            #{{o.order_id}}            
             <span *ngIf="lang == 'th'" style="font-size: xx-small;">{{o.formatSTR.th}}</span>
            <span *ngIf="lang == 'en'" style="font-size: xx-small;">{{o.formatSTR.en}}</span> 
          </span>
          <span class="text">{{'no_auction'|translate}}</span>
        </div>
        <div class="row-3">
          <span class="lowprice">
            {{'low_price'|translate}}
            <span>{{o.sum|number}} ฿</span>
          </span>
          <span class="time">
            {{'time_left'|translate}} :
            <app-countdown-timer class="item-countdown " fill="countdown" [end]="o.end_date"
              [units]="{from: 'hour', to: 'second'}"></app-countdown-timer>
          </span>
        </div>
        <div class="center">
          <h3 class="name">{{o.p_name}}</h3>
          <span class="number">
            <span style="color: #444241;">{{'unit'|translate}} </span>
            {{o.count}} {{'cube'|translate}}
          </span>
        </div>
        <div class="buttom">
          {{'type_car'|translate}}
          <span class="number">
            <span style="color: #7d7b7a;" *ngIf="lang == 'th'">
              {{o.carStr.th}}
            </span>
            <span style="color: #7d7b7a;" *ngIf="lang == 'en'">
              {{o.carStr.en}}
            </span>
            <span style="color: darkgreen;" *ngIf="o.count < 3">({{'has_delivery_price'|translate}})</span>
          </span>
        </div>
        <div class="buttom">
          {{'pass'|translate}} :
          <span>
            {{o.send_date|date:'dd/MM/yyyy'}} / {{o.send_time| slice:0:5}}
            <br>
            {{o.address_send}} {{o.address}}
          </span>
        </div>

      </div>
    </ion-item>
    <ion-item *ngIf="new_order.length == 0">
      <div style="height: calc(100vh - 400px);text-align: center;width:-webkit-fill-available;padding-top: 10%;">
        {{'no_buy_order'|translate}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>