.header {
  background-color: #f57f17;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  .readall {
    position: absolute;
    font-size: 12px;
    right: 20px;
    padding-top: 3px;
  }
}

ion-list {
  padding: 10px 10px;
  ion-item {
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-end: 10px;
    --background: #efefef;
    --border-width: 0px;
    --border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 1px 0px #c0bebe;
    border-radius: 12px;
    .right {
      font-weight: bold;
      padding: 5px 10px;
      .top {
        line-height: 25px;
        .order_id {
          color: #7d7b7a;
          font-size: 12px;
        }
        .text {
          color: rgb(190, 10, 10);
          font-size: 10px;
          position: absolute;
          right: 0px;
          top: 6px;
          float: right;
          span {
            color: #01cb15;
          }
        }
      }
      .row-3 {
        font-size: 10px;
        .lowprice {
          color: #444241;
          font-size: 10px;
          span {
            color: #01cb15;
          }
        }
        .time {
          display: inline-flex;
          position: absolute;
          right: -11px;
          color: rgb(190, 10, 10);
        }
      }
      .center {
        line-height: 13px;
        width: 100%;
        margin-top: 2px;
        .name {
          font-size: 10px;
          color: #444241;
          display: inline;
        }
        .number {
          color: #7d7b7a;
          font-size: 10px;
          right: 0px;
          top: 50px;
          text-align: right;
          position: absolute;
          display: inline;
          //position: absolute;
        }
      }
      .buttom {
        color: #444241;
        line-height: 14px;
        margin-top: 4px;
        font-size: 10px;
        span {
          color: #7d7b7a;
        }
      }
    }
  }
}
.img {
  width: 86px;
  height: 100%;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

ion-content {
  --padding-bottom: 165px;
}
