<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'add_account_bank_2'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fromGroupB">
    <div style="padding: 15px;">
      <ion-list>
        <ion-item>
          <ion-label>{{'type_account_bank'|translate}} : </ion-label>
          <ion-select formControlName="type_bank" placeholder="{{'pick_type_bank'|translate}}" required>
            <ion-select-option [value]="0">{{'corporation'|translate}}</ion-select-option>
            <ion-select-option [value]="1">{{'sale'|translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{'bank'|translate}} : </ion-label>
          <ion-select formControlName="bank" placeholder="{{'pick_bank'|translate}}" required>
            <ion-select-option [value]="b.name" *ngFor="let b of bank">
              <span *ngIf="lang == 'th'">{{b.name.th}}</span>
              <span *ngIf="lang == 'en'">{{b.name.en}}</span>
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{'account_number'|translate}} : </ion-label>
          <ion-input placeholder="x-xxx-xxxx-xx" maxlength="15" formControlName="bank_account" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{'account_name'|translate}} : </ion-label>
          <ion-input placeholder="{{'please_account_name'|translate}}" maxlength="30"  formControlName="bank_name" required></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div style="text-align: -webkit-center;">
      <div style="width: 25%;">
        <ion-button (click)="save()" [disabled]="fromGroupB.status=='INVALID'" expand="block" color="primary">
          {{'save'|translate}}
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>