<ion-content class="login-content">
  <div class="logo">
    <img style="width: 100%;" src="../../assets/icon/logo_sale_concrete_pro.png">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input type="tel" placeholder="{{'phone_id'|translate}}" formControlName="tel" clearInput autocapitalize="off"
          inputmode="tel"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.tel">
          <div class="error-message"
            *ngIf="loginForm.get('tel').hasError(validation.type) && (loginForm.get('tel').dirty || loginForm.get('tel').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'password'|translate}}" formControlName="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-row class="other-auth-options-row">
      <ion-button class="forgot-btn" fill="clear" [routerLink]="['/auth/forgot-password']">
        {{'forgot_password'|translate}}
      </ion-button>
    </ion-row>
    <div class="w257">
      <ion-button class="login-btn" shape="round" type="submit" expand="block" [disabled]="!loginForm.valid">
        {{'login'|translate}}
      </ion-button>
    </div>

  </form>
  <div class="social-auth-options">
    <!-- <p class="options-divider">{{'or'|translate}}</p>
    <div class="w257">
      <ion-button shape="round" class="social-auth-btn facebook-auth-btn" expand="block" color="facebook"
        (click)="doFacebookLogin()">{{'login_with_facebook'|translate}}</ion-button>
     
    </div> -->
    <div class="register">
      <p color="tertiary">{{'firsttime_for_me'|translate}}</p>
      <ion-button shape="round" size="small" class="register_btn" [routerLink]="['/auth/signup']" color="tertiary">
        {{'register_here'|translate}}</ion-button>
    </div>

  </div>
</ion-content>