<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'total_point'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="padding: 10px 20px 0px 20px;">
    <ion-row>
      <ion-col size="6">
        <div style="text-align: center; height: 60px;font-weight: bold;background-color: bisque;border-radius: 5px;margin-top: 5px;padding-top: 10px;
          box-shadow:  inset 0px 3px 3px 0px #a8570e">
          <ion-label position="fixed" style="font-size: 25px;text-shadow: #a8570e 1px -1px 1px;" color="primary">
            {{point_total|number}}</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="col" style="text-align: center;">
          <ion-button (click)="exchange(member,point_total)" style="height: 60px;width: 100%;">
            <ion-icon slot="icon-only" name="cash"></ion-icon>
            &nbsp;
            <ion-label style="font-size: smaller;font-weight: bolder;">{{'exchange_point'|translate}}</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin: 15px 15px 30px 15px;box-shadow: #a8570e 0px 6px 3px 0px;" *ngIf="score_detail.length > 0">
    <ion-row class="tb-head">
      <ion-col size="2" class="col">
        #
      </ion-col>
      <ion-col size="7" class="col">
        {{'list'|translate}}
      </ion-col>
      <ion-col size="3" class="col">
        {{'date_time'|translate}}
      </ion-col>
    </ion-row>
    <ion-row class="tb-content" *ngFor="let item of score_detail;let i = index" style="font-size: small;">
      <ion-col size="2" align="center">
        {{i+1}}
      </ion-col>
      <ion-col size="7">
        <span *ngIf="item.inc > 0">
          {{'get_point'|translate}}
        </span>
        <span *ngIf="item.exp > 0">
          {{'use_point'|translate}}
        </span>
        <br *ngIf="item.exp > 0">
        <span *ngIf="item.exp > 0">
          {{'status'|translate}} :
          <span *ngIf="item.confirm == -1" style="color: #a5081a;">
            {{'cancel'|translate}}
          </span>
          <span *ngIf="item.confirm == 0" style="color:#f57f17;">
            {{'wait_confirm'|translate}}
          </span>
          <span *ngIf="item.confirm == 1" style="color: #1b6804;">
            {{'success'|translate}}
            <a [src]="item.picture" scheme="dark" ionImgViewer>
              <img [src]="item.picture" style="position: absolute;margin-left: 3px;box-shadow: 1px 1px 2px 0px #797777;" width="20px">
              <!-- <ion-icon class="icon-slip" name="image" style="position: absolute;font-size: 17px;"></ion-icon> -->
            </a>
          </span>
        </span>
        <br>
        <span>{{'unit'|translate}} : </span>
        <span *ngIf="item.inc > 0" style="color: #1b6804;">{{item.inc|number}}</span>
        <span *ngIf="item.exp > 0" style="color: #a5081a;">{{item.exp|number}}</span>
        <span> {{'point'|translate}}</span>
      </ion-col>
      <ion-col size="3" align="center" style="font-size: smaller;padding-top: 15px;">
        <span>
          {{ item.time_rec| date:'dd-MM-yyyy'}}
        </span>
        <br>
        <span>
          {{ item.time_rec| date:'HH:mm'}}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin: 15px 15px 30px 15px;box-shadow: #a8570e 0px 1px 3px 0px; height: 100px;"
    *ngIf="score_detail == 0">
    <ion-row>
      <ion-col size="12" style="margin-top: 20px;text-align: center; color: rgb(31, 31, 31);">
        <ion-label style="font-size: 20px;font-weight: bold;">{{'no_point'|translate}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>