<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'add_pass'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar (ionChange)="findLocation($event)" debounce="500" placeholder="{{'find_province'|translate}}"></ion-searchbar>

<ion-content>
  <div>
    <ion-list>
      <ion-item *ngFor="let local of local_data">
        <ion-label>{{local.localName_std}}</ion-label>
        <!-- <ion-button class="btn-add" (click)="addProvince(local.key_local)">เพิ่ม</ion-button> -->
        <ion-button class="btn-add" (click)="showDistrict(local)" style="width: 40px;height: 30px;font-size: small;">{{'add'|translate}}</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
