<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" id="tab_main">
      <ion-tab-button tab="tab2">
        <ion-icon name="home"></ion-icon>
        <ion-label>{{'home_tab'|translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notification" (click)="clickReaded(readA,'alert')">
        <ion-badge color="danger" *ngIf="readA > 0">new</ion-badge>
        <ion-icon name="notifications"></ion-icon>

        <ion-label>{{'notify_tab'|translate}}</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="tab3" (click)="clickReaded(readC,'chat')">
        <ion-badge color="danger" *ngIf="readC > 0">new</ion-badge>
        <ion-icon name="chatbubbles"></ion-icon>

        <ion-label>{{'chat_tab'|translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="how">
        <ion-icon name="videocam"></ion-icon>
        <ion-label style="min-width: 53px;">{{'how_to'|translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="contact"></ion-icon>
        <ion-label>{{'account_tab'|translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>