<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>{{'register'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-pass-content">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'password'|translate}}" formControlName="password" clearInput autocapitalize="off"
            inputmode="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>



      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'password_confirm'|translate}}" formControlName="confirm_password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('confirm_password').dirty || loginForm.get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-row class="other-auth-options-row" [hidden]="loginForm.value.password==loginForm.value.confirm_password">
        <p>
          {{'same_2_password'|translate}}
        </p>
      </ion-row>
      <ion-item class="input-item">
        <ion-input type="text" placeholder="{{'fname_lname'|translate}}" formControlName="name"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
            *ngIf="loginForm.get('name').hasError(validation.type) && (loginForm.get('name').dirty || loginForm.get('name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item class="input-item">
        <ion-input type="text" placeholder="{{'email'|translate}}" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item class="input-item">
        <ion-textarea formControlName="address" placeholder="{{'address'|translate}}"></ion-textarea>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.address">
          <div class="error-message"
            *ngIf="loginForm.get('address').hasError(validation.type) && (loginForm.get('address').dirty || loginForm.get('address').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <div class="w257">
      <ion-button class="login-btn" shape="round" type="submit" expand="block" [disabled]="!loginForm.valid&&loginForm.value.password!=loginForm.value.confirm_password">
        {{'save'|translate}}
      </ion-button>
    </div>

  </form>


  <!-- <div class="register">
    <p color="tertiary">ฉันเป็นสมาชิกอยู่แล้ว</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">ลงทะเบียนที่นี่</ion-button>
  </div> -->
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>