<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'edit_account'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <div style="padding: 15px;">
      <div class="avatar" >
        <input type="file" id="inputFile" (change)="changeListener($event)" accept="image/*" hidden>
        <div class="img" [ngStyle]="{'background-image': 'url('+url+')'}">
          <div class="add-camera">
            <img src="../../assets/images/camera-reverse.png" (click)="uploadProfile($event)">
          </div>
        </div>
      </div>
      <ion-list class="inputs-list" lines="full">
        <ion-item class="input-item">
          <ion-label position="floating">{{'fname_lname'|translate}}</ion-label>
          <ion-input type="text" placeholder="" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">{{'email'|translate}}</ion-label>
          <ion-input type="text" placeholder="delivery@congrete.com" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">{{'address'|translate}}</ion-label>
          <ion-textarea formControlName="address"></ion-textarea>
        </ion-item>
      </ion-list>
      <div class="w257">
        <ion-button class="login-btn" shape="round" expand="block" [disabled]="loginForm.status == 'INVALID'"
          (click)="save()">
          {{'save'|translate}}
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>