.avatar {
  text-align: -webkit-center;
  padding: 10px;
  .img {
    height: 170px;
    width: 170px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px #482200;
    border: #ececec 5px solid;
    .add-camera {
      width: 40px;
      height: 40px;
      text-align: center;
      position: absolute;
      margin-top: 142px;
      margin-left: 58px;
      img {
        display: block;
        background-color: #524739;
        padding: 0px 5px 0px 5px;
        margin: 2px;
        width: 40px;
        border-radius: 5px;
      }
    }
  }
}
