.cover {
  height: 200px;
  background-image: url("../../assets/images/Construction_bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.8);
  .content {
    padding: 25px;
    padding-top: 60px;
    .head {
      color: #fff;
      .img {
        display: inline-block;
        width: 60px;
      }
      .text {
        padding: 2px;
        padding-left: 8px;
        margin-top: 0px;
        display: inline-block;
        vertical-align: top;
        div {
          font-size: 15px;
        }
      }
      img {
        width: 60px;
        display: inline-block;
      }
      h3 {
        display: inline-block;
        margin: 0px;
        font-size: 19px;
        font-weight: bold;
      }
      span {
        margin: 0px;
      }
    }
    .profile {
      color: #fff;
      .img {
        width: 60px;
        height: 60px;
        background-size: cover;
        //box-shadow: inset 0px -2px 3px 0px #200f00;
        background-color: #ffc74c;
        border-radius: 30px;
        border: solid;
        display: inline-block;
      }
      .text {
        padding: 2px;
        padding-left: 8px;
        display: inline-block;
        margin-top: 0px;
        vertical-align: top;
        div {
          font-size: 15px;
        }
        .order-btn {
          font-size: 15px;
          position: absolute;
          height: 25px;
          width: 100px;
          right: 10px;
        }
      }
      img {
        width: 60px;
        display: inline-block;
      }
      h3 {
        display: inline-block;
        margin: 0px;
        font-size: 18px;
      }
      span {
        margin: 0px;
      }
    }
  }
}

ion-tab-button {
  ion-label {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  ion-badge {
    // margin-left: 12px;
    // margin-top: -15px;
    margin-left: 0.2em;
    position: fixed;
    top: 5px;
    font-size: 8px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
  }
}
ion-tab-bar {
  height: 45px;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
ion-tab-button {
  width: 120px;
  //--color-selected: #f8f8f8;
  // background-color-selected: #e26a00;
  // border-radius-selected: 8px 8px 0px 0px;
}
.selected {
  //border-bottom: solid 3px #f8f8f8;
  background-color: #e26a00;
  border-radius: 10px 10px 0px 0px;
  height: 50px;
}
.header-md:after {
  background: none;
}
