<ion-content>
  <ion-header>
    <!-- <ion-toolbar color="primary" mode="ios">
      <ion-title>เสนอราคา</ion-title>
    </ion-toolbar> -->
    <div class="cover">
      <div class="content">
        <div class="head">
          <div class="img">
            <img src="../../assets/icon/logo_sale_concrete_pro.png">
          </div>
          <div class="text">
            <h3>SALE CONCRETE PRO</h3>
            <div>{{'easy_sale'|translate}}</div>
            <!-- <div id="refresh" (click)="refresh()">
              <span>รีเฟรช</span>
            </div> -->
          </div>
        </div>
        <div class="profile">
          <div class="img" [ngStyle]="{'background-image': 'url('+data.picture+')'}">
            <!-- <img [src]="data.picture"> -->
          </div>
          <div class="text">
            <div>{{'welcome'|translate}}</div>
            <h3>{{data.name}}</h3>
            <div style="position: absolute;right: 10px;
                bottom: 42px;
                background-color: #f57f17;
                padding: 3px;
                border-radius: 10px;
                font-size: 13px;" (click)="setting()">
              <span>
                {{'config_myprofile'|translate}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </ion-header>
  <ion-tabs style="margin-top: 200px;">
    <ion-tab-bar slot="top" color="primary" mode="ios">
      <ion-tab-button [ngClass]="{'selected':router.url == '/main/tab2/order-wait'}" (click)="page('order-wait')"
        color="danger">
        <ion-label>{{'new_order_sub'|translate}}
          <ion-badge color="light" *ngIf="count.wait>0">{{count.wait}}</ion-badge>
        </ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'selected':router.url == '/main/tab2/order-wait-send'}"
        (click)="page('order-wait-send')">
        <ion-label>{{'doing_auction_sub'|translate}}
          <ion-badge color="light" *ngIf="count.wait_send>0">{{count.wait_send}}</ion-badge>
        </ion-label>
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'selected':router.url == '/main/tab2/order-send'}" (click)="page('order-send')">
        <ion-label>{{'wait_pay'|translate}}
          <ion-badge color="light" *ngIf="count.send>0">{{count.send}}</ion-badge>
        </ion-label>
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'selected':router.url == '/main/tab2/order-pass'}" (click)="page('order-pass')">
        <ion-label>{{'pass_auction_sub'|translate}}
          <ion-badge color="light" *ngIf="count.pass>0">{{count.pass}}</ion-badge>
        </ion-label>
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'selected':router.url == '/main/tab2/order-success'}" (click)="page('order-success')">
        <ion-label>{{'success_auction'|translate}}
          <!-- <ion-badge color="light" *ngIf="count.success>0">{{count.success}}</ion-badge> -->
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>