<ion-content>
  <div style="display: none;" [ngStyle]="{'display':user.approve != 1? 'none':'block'}">
    <ion-list>
      <ion-item *ngFor="let auct of listAlert"
        [ngClass]="{'read_bg': auct.readed == 1,'not_read_bg': auct.readed == 0}">
        <ion-avatar slot="start">
          <div class="clicle" [ngClass]="{'read': auct.readed == 1,'not_read': auct.readed == 0}"></div>
        </ion-avatar>

        <ng-container *ngIf="auct.actions == 1; else elseTemplate">
          <ion-label (click)="openYoutube(auct.content)">
            <h2 class="title" *ngIf="auct.sale_id != user.member_id">
              <span>{{auct.title}}</span>
            </h2>
            <div class="price" style="white-space: pre-wrap;">
              <span>{{auct.body}}</span>
            </div>
            <div class="time">
              {{auct.time_ago}}
            </div>
          </ion-label>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-label (click)="select(auct.contents)">
            <h2 class="title" *ngIf="auct.sale_id != user.member_id">
              <span>{{auct.title}}</span>
            </h2>
            <div class="price" style="white-space: pre-wrap;">
              <span>{{auct.body}}</span>
            </div>
            <div class="time">
              {{auct.time_ago}}
            </div>
          </ion-label>
        </ng-template>
      </ion-item>
    </ion-list>
  </div>
</ion-content>