<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>{{'chat'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="chat" #content id="messages-container">
    <ion-infinite-scroll threshold="10px" position="top" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div class="chat-content">
      <div *ngFor="let c of chats;let i = index"
        style="-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text; user-select: text;white-space: pre-wrap;">
        <span class="time-show" *ngIf="c.new_date==1">{{c.date}}</span>
        <div class="item " [ngClass]="{'i-right':c.form_admin=='0','i-left':c.form_admin=='1'}">
          <img class="avatar" *ngIf="c.form_admin=='1'" src="../../assets/images/186313.png">
          <div class="text-content" *ngIf="c.type == 0">
            <div>
              {{c.message}}
            </div>

          </div>
          <div class="text-content-img" *ngIf="c.type == 1">
            <img [src]="c.message" width="250px" scheme="dark" ionImgViewer>
          </div>
          <span class="time">{{c.time}}</span>
          <div *ngIf="i == (chats.length-1) && progress == true">
            <div id="progress">
              <span style="font-size: xx-small;">{{'upload_img'|translate}}</span>
              <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
            </div>
          </div>
        </div>
      </div>
      <div class="buttombox">
      </div>
    </div>
  </div>
  <div class="chat-input">
    <!-- <div id="progress" >
      <span style="font-size: xx-small;">กำลังอัพโหลดรูป</span>
      <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    </div> -->
    <form [formGroup]="chatForm" (ngSubmit)="send()">
      <ion-item>
        <input type="file" accept="image/*" #fileIMG (change)="uploadImg($event)" hidden>
        <label (click)="fileIMG.click()" style="padding-top: 5px;">
          <ion-icon name="image" color="primary"></ion-icon>
        </label>
        &nbsp;
        <ion-input placeholder="{{'chat_text'|translate}}..." formControlName="message" (ionFocus)="read()"></ion-input>
        <div (click)="send()" style="padding-top: 5px;">
          <ion-icon name="send" [ngClass]="{'active':chatForm.valid}"></ion-icon>
        </div>
      </ion-item>
    </form>
  </div>
</ion-content>