.chat {
  .chat-content {
    justify-content: center;
    .time-show {
      justify-content: center;
      text-align: center;
      margin: 15px auto;
      background-color: #efefef;
      border-radius: 20px;
      font-size: 10px;
      padding: 3px 6px;
      color: #7d7b7a;
      display: block;
      width: max-content;
    }
    .item {
      .avatar {
        margin: 5px 5px;
        width: 30px;
        height: 30px;
        display: inline;
      }
      .text-content {
        font-size: 12px;
        text-align: left;
        padding: 8px;
        margin-top: -50px;
        width: calc(100vw - 80px);
        color: #000000;
        background-color: #efefef;
      }
      .time {
        color: #7d7b7a;
        font-size: 10px;
      }
    }
    .i-left {
      text-align: -webkit-left;
      padding-left: 10px;
      .text-content {
        margin-top: -25px;
        max-width: fit-content;
        margin-left: 50px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .text-content-img {
        padding-left: 10%;
      }
      .time {
        margin-left: 60px;
        margin-top: 3px;
        display: block;
        margin-bottom: 13px;
      }
    }
    .i-right {
      text-align: -webkit-right;
      padding-right: 10px;
      .text-content {
        max-width: fit-content;
        margin-top: 0px;
        margin-left: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #f57f17;
        margin-bottom: 35px;
        color: #ffffff;
      }
      .text-content-img {
        text-align: end;
        margin-top: 0px;
        margin-left: 60px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        //background-color: #f57f17;
        margin-bottom: 35px;
        color: #ffffff;
      }
      .time {
        float: right;
        margin-right: 25px;
        margin-top: -30px;
      }
    }
  }
}
.buttombox {
  width: 100%;
  height: 40px;
}
.chat-input {
  height: max-content;
  background-color: #fbfbfb;
  position: -webkit-sticky;
  bottom: 0px;
  width: 100%;
  ion-icon {
    font-size: 28px;
    color: #7d7b7a;
  }
  .active {
    color: #f57f17;
  }
  ion-input {
    --background: #eceaea;
    border-radius: 20px;
    --padding-start: 15px;
    height: 30px;
  }
}
form {
  max-width: 100%;
}
#progress {
  position: absolute;
  width: 250px;
  height: 45px;
  z-index: 1;
  right: 30px;
  top: -5px;
  position: inherit;
}

