.header {
    background-color: #f57f17;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    .readall {
        position: absolute;
        font-size: 12px;
        right: 20px;
        padding-top: 3px;
    }
}

ion-list {
    padding: 10px 10px;
    ion-item {
        --inner-padding-start: 0px;
        --inner-padding-end: 0px;
        --padding-start: 0px;
        --padding-end: 10px;
        --background: #efefef;
        --border-width: 0px;
        --border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 2px 1px 0px #c0bebe;
        border-radius: 12px;
        .right {
            font-weight: bold;
            padding: 8px 10px 10px 10px;
            .top {
                line-height: 15px;
                .status {
                    position: absolute;
                    font-size: 10px;
                    right: 0px;
                    top: 10px;
                }
                .text3 {
                    color: #444241;
                    font-size: 10px;
                    right: 0;
                    float: right;
                    top: 65px;
                    position: absolute;
                    span {
                        color: #01cb15;
                    }
                }
                .wait {
                    display: block;
                    color: #f57f17;
                    font-size: 10px;
                    line-height: 7px;
                    margin-top: 5px;
                    img {
                        vertical-align: middle;
                        width: 10px;
                        height: 10px;
                    }
                }
                .success {
                    display: block;
                    color: #0c6a0f;
                    font-size: 10px;
                    line-height: 7px;
                    margin-top: 5px;
                    img {
                        vertical-align: middle;
                        width: 10px;
                        height: 10px;
                    }
                }
                .error {
                    display: block;
                    color: rgb(194, 23, 23);
                    font-size: 10px;
                    line-height: 7px;
                    margin-top: 5px;
                    img {
                        vertical-align: middle;
                        width: 10px;
                        height: 10px;
                    }
                }
                .order_id {
                    color: #7d7b7a;
                    font-size: 12px;
                }
                .time {
                    position: absolute;
                    right: 0px;
                    font-size: 10px;
                    color: #7d7b7a;
                    top: 27px;
                }
            }
            .center {
                line-height: 13px;
                width: 100%;
                margin-top: 5px;
                color: #444241;
                .name {
                    font-size: 10px;
                    display: inline;
                }
                .number {
                    color: #7d7b7a;
                    font-size: 10px;
                    right: 0px;
                    top: 32px;
                    text-align: right;
                    position: absolute;
                    display: inline;
                    //position: absolute;
                }
            }
            .buttom {
                line-height: 14px;
                display: inline;
                .text {
                    color: rgb(194, 23, 23);
                    font-size: 10px;
                }
                .text2 {
                    color: #444241;
                    font-size: 10px;
                    span {
                        color: rgb(194, 23, 23);
                    }
                }
                .text3 {
                    color: #444241;
                    font-size: 10px;
                    span {
                        color: #01cb15;
                    }
                }
                .lowprice {
                    color: #444241;
                    font-size: 10px;
                    position: absolute;
                    right: 0px;
                    float: right;
                    span {
                        color: #01cb15;
                    }
                }
            }
        }
    }
}
.img {
    width: 86px;
    height: 100%;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ribbon {
    font-weight: bolder;
    font-size: 10px;
    position: absolute;
    background-color: #f92b2b;
    color: white;
    padding: 3px 5px 3px 5px;
    top: 0px;
    box-shadow: -3px -3px 0px 5px #383838;
}

ion-content {
    --padding-bottom: 165px;
}
