<ion-content>
  <div style="padding: 10px;float: right;">
    <ion-icon name="close" (click)="dismiss()"></ion-icon>
  </div>
  <div [innerHTML]="noti" style="margin: 5px;padding: 30px;"></div>
</ion-content>
