<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'config_new_password'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-pass-content">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'old_password'|translate}}" formControlName="password_old" clearInput
            autocapitalize="off" inputmode="password" (ionChange)="changeOldPass()"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'new_password'|translate}}" formControlName="password" clearInput autocapitalize="off"
            inputmode="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'confirm_password'|translate}}" formControlName="confirm_password">
          </ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('confirm_password').dirty || loginForm.get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-row class="other-auth-options-row" [hidden]="loginForm.valid">
      <p>
        {{'same_2_password'|translate}}
      </p>
    </ion-row>
    <div class="w257">
      <ion-button class="login-btn" shape="round" type="submit" expand="block"
        [disabled]="loginForm.value.password != loginForm.value.confirm_password ||loginForm.value.password =='' ||loginForm.value.confirm_password =='' || stateSave">
        {{'save'|translate}}
      </ion-button>
    </div>

  </form>


  <!-- <div class="register">
    <p color="tertiary">ฉันเป็นสมาชิกอยู่แล้ว</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">ลงทะเบียนที่นี่</ion-button>
  </div> -->
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>