<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div class="header">รายการรอชำระเงิน ({{new_order.length}}) -->
  <!-- <span class="readall" (click)="searchList(search)" *ngIf="search == 5">ดูทั้งหมด</span> -->
  <!-- <span class="readall" (click)="searchList(search)" *ngIf="search > 5">แสดงน้อยลง</span> -->
  <!-- </div> -->
  <ion-list>
    <ion-item lines="none" *ngFor="let o of new_order" (click)="select(o.order_id,'end')">
      <div class="img" [ngStyle]="{'background-image': 'url(' + o.p_img + ')'}"></div>
      <div class="right">
        <div class="top">
          <span class="order_id">
            #{{o.order_id}}
            <span *ngIf="lang == 'th'">{{o.formatSTR.th}}</span>
            <span *ngIf="lang == 'en'">{{o.formatSTR.en}}</span>
          </span>
          <span class="wait" *ngIf="o.order_win == 'wait'"><img src="../../../assets/images/ic_gavel_primary_242px.png"
              width="14px"> {{'wait_decide'|translate}}</span>
          <span class="success" *ngIf="o.order_win == 'win'"><img src="../../../assets/images/ic_mood_24px.png">
            {{'you_win'|translate}} :
            <span *ngIf="o.status == -1">{{'cancel'|translate}}</span>
            <span *ngIf="o.status == -2 || o.status == 0" style="color: #7d7b7a;">{{'wait_pay'|translate}}</span>
            <span *ngIf="o.status == 1" style="color: rgb(255, 86, 86);">{{'wait_pass'|translate}}</span>
            <span *ngIf="o.status == 2" style="color: rgb(226, 0, 0);">{{'passing'|translate}}</span>
            <span *ngIf="o.status == 3" style="color: darkred;">{{'success'|translate}}</span>
          </span>
          <span class="error" *ngIf="o.order_win == 'lose'"><img
              src="../../../assets/images/ic_sentiment_dissatisfied_24px.png"> {{'you_lose'|translate}}</span>
          <span class="time">
            <span style="color: #444241;">{{'when_auction'|translate}} </span>
            {{o.cre_date|date:'dd/MM/yyyy'}}
          </span>
        </div>
        <div class="center">
          <h3 class="name">{{o.p_name}}</h3>
          <span class="number">{{'unit'|translate}} {{o.count|number}} {{'cube'|translate}}</span>
        </div>
        <div class="buttom">
          <span class="text3">
            {{'total'|translate}}
            {{o.pass_price}}
            <span>฿ {{o.total_price|number}}</span>
            ({{'sum_priec_pass'|translate}})
          </span>
        </div>
        <div class="center" style="font-size: 10px;">
          {{'type_car'|translate}}
          <span style="color: #7d7b7a;" *ngIf="lang == 'th'">
            {{o.carStr.th}}
          </span>
          <span style="color: #7d7b7a;" *ngIf="lang == 'en'">
            {{o.carStr.en}}
          </span>
        </div>
        <div class="center" style="font-size: 10px;">
          {{'pass'|translate}} :
          <span style="color: #7d7b7a;">
            {{o.send_date|date:'dd/MM/yyyy'}} / {{o.send_time| slice:0:5}}
            <br>
            {{o.address_send}} {{o.address}}
          </span>
        </div>
      </div>
    </ion-item>
    <ion-item *ngIf="new_order.length == 0">
      <div style="height: calc(100vh - 400px);text-align: center;width:-webkit-fill-available;padding-top: 10%;">
        {{'no_pay_order'|translate}}
      </div>
    </ion-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>