<ion-card (click)="openYoutube(clipData.url)">
  <ion-card-content>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1200px-YouTube_full-color_icon_%282017%29.svg.png">
      </ion-avatar>
      <ion-label>
        <span>(TH) {{clipData.title_th}}</span>
        <br>
        <span>(EN) {{clipData.title_en}}</span>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>