<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'verify'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="text-align: center;margin: 10px;">
    <div style="padding: 20px 10px 20px 10px;"
      [ngClass]="{'notify-success': user.approve == 1,'notify-unsuccess': user.approve == 0}">

      <div>
        <img src="../../assets/images/unsuccess.png" width="60px" *ngIf="user.approve == 0">
        <img src="../../assets/images/success.png" width="60px" *ngIf="user.approve == 1">
        <br>
        <label *ngIf="user.approve == 0">{{'not_verify'|translate}}</label>
        <label *ngIf="user.approve == 1">{{'verified'|translate}}</label>
      </div>

      <div style="text-align: -webkit-center;" *ngIf="user.approve == 0">
        <label for="">{{'1_more_upload'|translate}}</label>
        <ul style="text-align: left;width: fit-content;">
          <li>{{'copy_id_card'|translate}}</li>
          <li>{{'invitation_book_company'|translate}}</li>
          <li>{{'company_registration'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]="fileMultipleForm" style="padding: 0px 10px 0px 10px;">
      <ion-list>
        <ion-item>
          <ion-label>
            <h2 class="float-left">{{'copy_id_card'|translate}}</h2>
            <input type="file" #_files1 formControlName="_files1" multiple accept="image/*"
              (change)="changeFiles($event,1)" hidden>
            <p class="float-right">
              <ion-button (click)="_files1.click()" class="add-btn">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p *ngFor="let name of nameFile[0].name;let i = index" [src]="url_1[i]" title="สำเนาบัตรประชาชน(ตัวอย่าง)" text="รออัพโหลด" scheme="dark" ionImgViewer>
              - {{name}}
            </p>

            <p *ngFor="let obj of obj_old;let i = index">
              <a style="color: #baa490;" class="old-files" [src]="obj.picture" title="สำเนาบัตรประชาชน" [text]="obj.comment" scheme="dark"
                ionImgViewer>
                <span *ngIf="obj.type_file == 1">
                  <span class="files-unsuccess" style="color: crimson;" *ngIf="obj.status == -1">
                    <ion-icon name="close"></ion-icon>
                  </span>
                  <span class="files-unsuccess" style="color: rgb(220, 150, 20);" *ngIf="obj.status == 0">
                    <ion-icon name="hourglass"></ion-icon>
                  </span>
                  <span class="files-success" style="color: darkgreen;" *ngIf="obj.status == 1">
                    <ion-icon name="checkmark"></ion-icon>
                  </span>
                  {{obj.short_name}}
                </span>
              </a>
            </p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2 class="float-left">{{'invitation_book_company'|translate}}</h2>
            <input type="file" #_files2 formControlName="_files2" multiple accept="image/*"
              (change)="changeFiles($event,2)" hidden>
            <p class="float-right">
              <ion-button (click)="_files2.click()" class="add-btn">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p *ngFor="let name of nameFile[1].name;let i = index" [src]="url_2[i]" title="หนังสือเเต่งตั้งจากบริษัท(ตัวอย่าง)"  text="รออัพโหลด" scheme="dark" ionImgViewer>
              - {{name}}
            </p>
            <p *ngFor="let obj of obj_old" style="color: #baa490;" class="old-files">
              <a style="color: #baa490;" class="old-files" [src]="obj.picture" title="หนังสือเเต่งตั้งจากบริษัท" [text]="obj.comment"
                scheme="dark" ionImgViewer>
                <span *ngIf="obj.type_file == 2">
                  <span class="files-unsuccess" style="color: crimson;" *ngIf="obj.status == -1">
                    <ion-icon name="close"></ion-icon>
                  </span>
                  <span class="files-unsuccess" style="color: rgb(220, 150, 20);" *ngIf="obj.status == 0">
                    <ion-icon name="hourglass"></ion-icon>
                  </span>
                  <span class="files-success" style="color: darkgreen;" *ngIf="obj.status == 1">
                    <ion-icon name="checkmark"></ion-icon>
                  </span>
                  {{obj.short_name}}
                </span>
              </a>
            </p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2 class="float-left">{{'company_registration'|translate}}</h2>
            <input type="file" #_files3 formControlName="_files3" multiple accept="image/*"
              (change)="changeFiles($event,3)" hidden>
            <p class="float-right">
              <ion-button (click)="_files3.click()" class="add-btn">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p *ngFor="let name of nameFile[2].name;let i = index" [src]="url_3[i]" title="หนังสือจดทะเบียนบริษัท(ตัวอย่าง)" text="รออัพโหลด" scheme="dark" ionImgViewer>
              - {{name}}
            </p>
            <p *ngFor="let obj of obj_old" style="color: #baa490;" class="old-files">
              <a style="color: #baa490;" class="old-files" [src]="obj.picture" title="หนังสือจดทะเบียนบริษัท" [text]="obj.comment"
                scheme="dark" ionImgViewer>
                <span *ngIf="obj.type_file == 3">
                  <span class="files-unsuccess" style="color: crimson;" *ngIf="obj.status == -1">
                    <ion-icon name="close"></ion-icon>
                  </span>
                  <span class="files-unsuccess" style="color: rgb(220, 150, 20);" *ngIf="obj.status == 0">
                    <ion-icon name="hourglass"></ion-icon>
                  </span>
                  <span class="files-success" style="color: darkgreen;" *ngIf="obj.status == 1">
                    <ion-icon name="checkmark"></ion-icon>
                  </span>
                  {{obj.short_name}}
                </span>
              </a>
            </p>
          </ion-label>
        </ion-item>

      </ion-list>
      <p style="text-align: center;color: crimson; padding-left: 5px; padding-right: 5px;font-size: small;">
        {{'chack_upload'|translate}}
      </p>
      <div style="padding-bottom: 20px;">
        <ion-button (click)="upload(API_case)" expand="block" color="primary" [disabled]="countFile <= 0">
          {{'upload_file'|translate}}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>