// .table {
//     display: table;
//     width: 100vw;
//     .col {
//         padding-top: 15px;
//         text-align: center;
//         display: table-cell;
//         .cancel-btn {
//             color: white;
//             background-color: crimson;
//         }
//     }
// }

.notify-unsuccess {
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #dadada;
}
.notify-success {
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #dadada;
}

.float-left {
    display: inline-block;
    float: left;
}
.float-right {
    display: inline-block;
    float: right;
    .add-btn {
        height: 20px;
        font-size: x-small;
        width: 30px;
    }
}

.old-files {
    color: #baa490;
    .files-unsuccess {
        color: crimson;
    }
    .files-success {
        color: darkgreen;
    }
}
