<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'register_member'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">

  <form [formGroup]="signupForm" (ngSubmit)="doSignup()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="floating">{{'your_number_phone'|translate}}</ion-label>
        <ion-input type="tel" maxlength="10" formControlName="tel" clearInput autocapitalize="off" inputmode="tel">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="other-auth-options-row">
      <ion-button class="signup-btn" type="submit" expand="round" [disabled]="!signupForm.valid">{{'regis'|translate}}</ion-button>
    </ion-row>
  </form>

  <div class="register">
    <p color="tertiary">{{'im_member'|translate}}</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">{{'login'|translate}}</ion-button>
  </div>
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>