<div style="padding: 10px;">
  <div class="header2">
    <ion-icon name="star"></ion-icon> สรุปการจัดส่งสินค้า
  </div>
  <div style="background-color: #faece2;position: relative;top: -3;z-index: 1;padding: 15px 10px 10px 10px;">
    <div class="address">
      <div class="row-address">
        <div class="col-address">
          <div class="left" style="text-align: start;">
            <div>
              ผู้ส่ง
            </div>
            <div style="font-size: 10px;padding: 5px 0px 0px 5px;">
              <div>
                <strong>ชือ : </strong>{{slip.location.sale.name}}
              </div>
              <div>
                <strong>เบอร์โทร : </strong>{{slip.location.sale.phone}}
              </div>
              <div>
                <strong>อีเมล์ : </strong>{{slip.location.sale.email}}
              </div>
              <div>
                <strong>ที่อยู่ : </strong>{{slip.location.sale.address}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-address">
          <div class="right"  style="text-align: end;">
            <div>
              ผู้รับ
            </div>
            <div style="font-size: 10px;padding: 5px 5px 0px 0px;">
              <div>
                <strong>ชือ : </strong>
                <span *ngIf="order_data.receive_name == ''">{{slip.location.customer.name}}</span>
                <span *ngIf="order_data.receive_name != ''">{{order_data.receive_name}} (ผู้รับแทน)</span>
              </div>
              <div>
                <strong>เบอร์โทร : </strong>
                <span *ngIf="order_data.receive_phone == ''">{{slip.location.customer.phone}}</span>
                <span *ngIf="order_data.receive_phone != ''">{{order_data.receive_phone}}</span>
                
              </div>
              <div>
                <strong>ที่อยู่ : </strong>{{slip.location.customer.address}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="padding: 3px;">
      <div class="slip-body">
        <div class="order-id">
          <div class="left">
            <span style="font-size: 18px;">
              <strong>Order : </strong> #{{slip.order.id}}
            </span>
          </div>
        </div>
        <div class="order-date">
          <div class="right">
            <span style="font-size: 12px;">
              <strong>วันจัดส่ง : </strong>
              {{slip.order.send_date}}
            </span>
          </div>
        </div>
      </div>
      <table border="0" style="border-radius: 5px; padding: 3px;">
        <tr>
          <td class="b-around" align="center">
            <strong>รายการ</strong>
          </td>
          <td class="b-around" align="center">
            <strong>จำนวน</strong>
          </td>
          <td class="b-around" align="center">
            <strong>ราคา/หน่วย</strong>
          </td>
          <td class="b-around" align="center">
            <strong>รวม</strong>
          </td>
        </tr>
        <tr *ngFor="let item of slip.items; let i=index">
          <td style="padding-left: 10px;">
            {{i+1}}.
            <span *ngIf="lang == 'th'">{{item.item.th}}</span>
            <span *ngIf="lang == 'en'">{{item.item.en}}</span>
          </td>
          <td align="center">
            {{item.qty|number}}
            <span *ngIf="lang == 'th'">{{item.unit.th}}</span>
            <span *ngIf="lang == 'en'">{{item.unit.en}}</span>
          </td>
          <td align="right">
            {{item.val|number}}
          </td>
          <td align="right">
            {{item.val * item.qty|number}}
          </td>
        </tr>
        <tr style="border-top: solid 1px;">
          <td colspan="2"></td>
          <td align="right" class="bb-dubble">
            <strong>ยอดสุทธิ</strong>
          </td>
          <td align="right" class="bb-dubble">
            {{slip.total|number}}
          </td>
        </tr>
        <tr>
          <td colspan="4" style="height: 20px;"></td>
        </tr>
      </table>
    </div>
  </div>

</div>