.header2 {
    background-color: #f57f17;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    position: relative;
    z-index: 2;
    // font-weight: bold;
    img {
        width: 13px;
        margin-left: 5px;
    }
    .readall {
        position: absolute;
        font-size: 20px;
        right: 20px;
        padding-top: 3px;
    }
}

.address {
    display: flow-root;
    padding: 10px 10px 10px 15px;
    margin-bottom: 5px;
    .row-address {
        width: 100%;
        .col-address {
            width: 50%;
            display: inline-grid;
        }
    }
}

.slip-body {
    display: flow-root;
    .order-id {
        .left {
            float: left;
            padding: 0px 0px 10px 0px;
        }
    }
    .order-date {
        .right {
            float: right;
        }
    }
}

table {
    width: 100%;
    font-size: 12px;
    .b-around{
        border: solid 1px;
    }
    td{
        padding: 2px;
    }
    .hide-RL{
        border-left: solid 1px;
        border-right: solid 1px;
        //border-bottom: solid 1px;
        //border-top: solid 1px;
    }
    .hide-B{
        border-bottom: hidden;
    }
    .bb-dubble{
        border-bottom: double;
    }
}
