<!-- <ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="point">
    <div style="text-align: center;">
      <ion-label style="font-size: 20px;font-weight: bolder;color: #585858;">{{'point'|translate}}</ion-label>
    </div>
    <div style="text-align: center;height: 80px;">
      <ion-label color="primary" style="font-size: 55px;font-weight: bolder;text-shadow: #7f570f 2px 1px 1px;">
        {{point|number}}</ion-label>
    </div>
    <div style="text-align: center;">
      <img src="../../../assets/images/money.png" width="80%">
    </div>
  </div>
  <div id="confirm-exchange">
    <div *ngIf="bankes.length > 0">
      <ion-select [(ngModel)]="bank_select" placeholder="บัญชีธนาคาร">
        <ion-select-option *ngFor="let bank of bankes" [value]="bank.bb_id">{{bank.no}} {{bank.bank.th}}
        </ion-select-option>
      </ion-select>
      <ion-button (click)="exchangeConfirm()" expand="block" color="primary" style="margin-top: 10px;">
        {{'exchange_your_point'|translate}}
      </ion-button>
    </div>
    <div *ngIf="bankes.length < 1" style="padding-top: 5px;text-align: center;">
      <label>
        {{'not_account_bank'|translate}} "{{'sale'|translate}}"
        <br>
        <span style="font-weight: bolder;color: #f57f17;"
          (click)="addBookBank('main/account/book-bank')">{{'click_here'|translate}}</span>
        {{'add_account_bank_1'|translate}}
      </label>
    </div>
  </div>
</ion-content>