#confirm-exchange{
    padding: 15px 20px 20px 20px; 
    margin: 0px 15px 0px 15px;
    background-color: #bdb76b26;
    border-radius: 10px;
    box-shadow: #d5d5d5 0px 12px 5px -8px;
}
#point{
    background-color: #fdf9df;
    padding: 10px;
    margin-top: 10%;
    border: #ffd0a7 solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: #d5d5d5 0px 8px 5px -8px;
}