<!-- <div class="body" [hidden]="data.approve == 0">
  <div class="header">
    {{'last_order'|translate}} ({{new_order.length}})
    <div class="more-detail" routerLink="/main/tab2/order-wait">
      {{'more_detail'|translate}}
    </div>
  </div>
  <ion-list id="order_out">
    <ion-item lines="none" *ngFor="let o of new_order" (click)="select(o.order_id,'auction')">
      <div class="img" [ngStyle]="{'background-image': 'url(' + o.p_img + ')'}">

      </div>
      <div class="right">
        <div class="top order-wait">
          <span class="order_id">#{{o.order_id}}</span>
          <span class="text">{{'no_auction'|translate}}</span>
        </div>
        <div class="row-3">
          <span class="lowprice">
            {{'low_price'|translate}}
            <span>{{o.sum|number}} ฿</span>
          </span>
          <span class="time">
            {{'time_left'|translate}} :
            <app-countdown-timer class="item-countdown " fill="countdown" [end]="o.end_date"
              [units]="{from: 'hour', to: 'second'}"></app-countdown-timer>
          </span>
        </div>
        <div class="center">
          <h3 class="name">{{o.p_name}}</h3>
          <span class="number">
            <span style="color: #444241;">{{'unit'|translate}} </span>
            {{o.count}} {{'cube'|translate}}
          </span>
        </div>
        <div class="buttom">
          ประเภทรถ
          <span class="number">
            {{o.carStr}}
            <span style="color: darkgreen;" *ngIf="o.count < 3">(มีค่าจัดส่ง)</span>
          </span>
        </div>
        <div class="buttom">
          {{'pass'|translate}} :
          <span>
            {{o.send_date|date:'dd-MM-yyyy'}} / {{o.send_time| slice:0:5}}
            <br>
            {{o.address}}
          </span>
        </div>

      </div>
    </ion-item>
    <ion-item *ngIf="new_order.length == 0">
      <div style="height: 15vh;text-align: center;width:-webkit-fill-available;padding-top: 10%;">
        {{'no_buy_order'|translate}}
      </div>
    </ion-item>
  </ion-list>
  <div class="no_data">{{'no_buy_order'|translate}}</div>
  <div class="header">
    {{'doing_auction_oder'|translate}} ({{order_in.length}})
    <div class="more-detail" routerLink="/main/tab2/order-wait-send">
      {{'more_detail'|translate}}
    </div>
  </div>
  <ion-list id="order_in">
    <ion-item lines="none" button (click)="select(o_in.order_id,'auction')" *ngFor="let o_in of order_in">
      <div class="img" [ngStyle]="{'background-image': 'url(' + o_in.p_img + ')'}">

      </div>
      <div class="right">
        <div class="top">
          <span class="order_id">#{{o_in.order_id}}</span>
          <span class="time">
            {{'time_left'|translate}} :
            <app-countdown-timer class="item-countdown " fill="countdown" [end]="o_in.end_date"
              [units]="{from: 'hour', to: 'second'}"></app-countdown-timer>
          </span>
        </div>
        <div class="center">
          <h3 class="name">{{o_in.p_name}}</h3>
          <span class="number">
            <span style="color: #444241;">{{'unit'|translate}}</span>
            {{o_in.count}} {{'cube'|translate}}
          </span>
        </div>
        <div class="buttom">

          <ng-container *ngIf="o_in.low < o_in.low_u; else elseLow">
            <span class="text2">{{'do_auction'|translate}}
              <span class="height">{{o_in.low_u|number}}/{{'cube'|translate}} ฿</span></span>
          </ng-container>
          <ng-template #elseLow>
            <span class="text2">{{'do_win_auction'|translate}}
              <span class="low">{{o_in.low_u|number}}/{{'cube'|translate}} ฿</span></span>
          </ng-template>

          <span class="lowprice">{{'low_price'|translate}}
            <span>{{o_in.low|number}}/{{'cube'|translate}} ฿</span>
          </span>
        </div>
        <div class="buttom">
          <span class="text2">{{'total_price'|translate}} <span>{{o_in.low_u*o_in.count|number}} ฿</span></span>
          <span class="lowprice">{{'low_price'|translate}}
            <span>{{o_in.low*o_in.count|number}} ฿</span>
          </span>
        </div>
        <div class="buttom" *ngIf="o_in.count < 3">
          <span class="text2" style="color: darkred; font-size: 12px;">(ราคายังไม่รวมค่าจัดส่ง)</span>
        </div>
        <div class="buttom" *ngIf="o_in.count > 2">
          <span class="text2" style="color: darkgreen; font-size: 12px;">(รวมค่าจัดส่งเเล้ว)</span>
        </div>
        <div class="buttom">
          {{'pass'|translate}} :
          <span style="color: #7d7b7a;">
            {{o_in.send_date|date:'dd-MM-yyyy'}} / {{o_in.send_time| slice:0:5}}
            <br>
            {{o_in.address}}
          </span>
        </div>
      </div>
    </ion-item>
    <ion-item *ngIf="order_in.length == 0">
      <div style="height: 15vh;text-align: center;width:-webkit-fill-available;padding-top: 10%;">
        {{'doing_auction_oder_in'|translate}}
      </div>
    </ion-item>
  </ion-list>
  <div class="no_data">{{'doing_auction_oder_in'|translate}}</div>
  <div class="noti">
    {{'order_local'|translate}}
    <br />
    {{'your_local'|translate}}
  </div>
</div> -->