.cover {
  height: 230px; 
  background-image: url("../../assets/images/29078.png");
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.8);
  .content {
    padding: 25px;
    margin-top: 20px;
    .head {
      color: #fff;
      .img {
        display: inline-block;
        width: 60px;
      }
      .text {
        padding: 2px;
        padding-left: 8px;
        margin-top: -12px;
        display: inline-block;
        vertical-align: top;
        div {
          font-size: 15px;
        }
      }
      img {
        width: 60px;
        display: inline-block;
      }
      h3 {
        display: inline-block;
        margin: 0px;
        font-size: 19px;
        font-weight: bold;
      }
      span {
        margin: 0px;
      }
    }
    .profile {
      color: #fff;
      .img {
        width: 60px;
        height: 60px;
        background-size: cover;
        box-shadow: inset 0px -2px 3px 0px #200f00;
        background-color: #ffc74c;
        border-radius: 30px;
        border: solid;
        display: inline-block;
      }
      .text {
        padding: 2px;
        padding-left: 8px;
        display: inline-block;
        margin-top: -12px;
        vertical-align: top;
        div {
          font-size: 15px;
        }
        .order-btn {
          font-size: 15px;
          position: absolute;
          height: 25px;
          width: 100px;
          right: 10px;
        }
      }
      img {
        width: 60px;
        display: inline-block;
      }
      h3 {
        display: inline-block;
        margin: 0px;
        font-size: 18px;
      }
      span {
        margin: 0px;
      }
    }
  }
}
.body {
  padding: 5px;
  .header {
    background-color: #f57f17;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    .readall {
      position: absolute;
      font-size: 12px;
      right: 20px;
      padding-top: 3px;
    }
    .more-detail {
      font-size: 10px;
      display: inline;
      float: right;
      padding: 3px;
    }
  }
  .no_data {
    color: #eb2e2e;
    text-align: center;
    padding: 30px;

    display: none; //////////////////////
  }
  .noti {
    margin-top: 20px;
    background-color: #f93737;
    color: #fff;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
  .edit-profile {
    color: #0265c8;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: block;
  }
}

ion-item {
  box-shadow: 0px 2px 1px 0px #c0bebe;
  border-radius: 12px;
}
#order_out {
  padding: 5px;
  ion-item {
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-end: 10px;
    --background: #efefef;
    --border-width: 0px;
    --border-radius: 10px;
    margin-bottom: 10px;
    .right {
      font-weight: bold;
      padding: 5px 10px;
      .top {
        line-height: 25px;
        .order_id {
          color: #7d7b7a;
          font-size: 12px;
        }
        .text {
          color: rgb(190, 10, 10);
          font-size: 10px;
          position: absolute;
          right: 0px;
          top: 6px;
          float: right;
          span {
            color: #01cb15;
          }
        }
      }
      .row-3 {
        font-size: 10px;
        .lowprice {
          color: #444241;
          font-size: 10px;
          span {
            color: #01cb15;
          }
        }
        .time {
          display: inline-flex;
          position: absolute;
          right: 0px;
          color: rgb(190, 10, 10);
        }
      }
      .center {
        line-height: 13px;
        width: 100%;
        margin-top: 2px;
        .name {
          font-size: 10px;
          color: #444241;
          display: inline;
        }
        .number {
          color: #7d7b7a;
          font-size: 10px;
          right: 0px;
          top: 50px;
          text-align: right;
          position: absolute;
          display: inline;
          //position: absolute;
        }
      }
      .buttom {
        color: #444241;
        line-height: 14px;
        margin-top: 4px;
        font-size: 10px;
        span {
          color: #7d7b7a;
        }
      }
    }
  }
}
#order_in {
  padding: 5px;
  ion-item {
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-end: 10px;
    --background: #efefef;
    --border-width: 0px;
    --border-radius: 10px;
    margin-bottom: 10px;
    .right {
      font-weight: bold;
      padding: 5px 10px;
      .top {
        line-height: 25px;
        .order_id {
          color: #7d7b7a;
          font-size: 12px;
        }
        .time {
          display: inline-flex;
          position: absolute;
          right: 0px;
          font-size: 10px;
          color: rgb(190, 10, 10);
        }
      }
      .center {
        line-height: 13px;
        width: 100%;
        .name {
          font-size: 10px;
          color: #444241;
          display: inline;
        }
        .number {
          color: #7d7b7a;
          font-size: 10px;
          right: 0px;
          top: 30px;
          text-align: right;
          position: absolute;
          display: inline;
          //position: absolute;
        }
      }
      .buttom {
        line-height: 14px;
        margin-top: 5px;
        font-size: 10px;
        color: #444241;
        .text {
          color: rgb(190, 10, 10);
        }
        .text2 {
          .height {
            color: rgb(190, 10, 10);
          }
          .low {
            color: #01cb15;
          }
        }
        .text3 {
          span {
            color: #01cb15;
          }
        }
        .lowprice {
          position: absolute;
          right: 0px;
          float: right;
          span {
            color: #01cb15;
          }
        }
      }
    }
  }
}
.img {
  width: 86px;
  height: 100%;
  background-size: cover;
}
