<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="cover">
    <div class="content">
      <div class="head">
        <div class="img">
          <img src="../../assets/icon/logo_sale_concrete_pro.png">
        </div>
        <div class="text">
          <h3>SALE CONCRETE PRO</h3>
          <div>{{'easy_sale'|translate}}.</div>
        </div>

      </div>
      <div class="profile">
        <div class="img"  [ngStyle]="{'background-image': 'url('+data.picture+')'}">
          <!-- <img [src]="data.picture"> -->
        </div>
        <div class="text">
          <div>{{'welcome'|translate}}</div>
          <h3>{{data.name}}</h3>
          <div>
            <ion-badge color="primary" mode="ios" [routerLink]="['../../account/setting-location-order',{page:'home'}]">
              {{'config_myprofile'|translate}}</ion-badge>
            <a class="edit-profile"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-dashboard-home >
  </app-dashboard-home>

  <!-- <app-verify-component style="display: none;" [ngStyle]="{'display':data.approve != 0? 'none':'block'}">
  </app-verify-component> -->


</ion-content>