<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>{{'account'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header">
    <div class="avatar" [ngStyle]="{'background-image': 'url('+data.picture+')'}" style="background-size: cover;">
    </div>
    <!-- <div class="add-camera">
      <img src="../../assets/images/ic_add_a_photo_24px.png">
    </div> -->
    <div class="content">
      <h4>{{data.name}}</h4>
      <div class="tel">{{data.phone}}</div>
      <ion-button class="btn-edit" shape="round" [routerLink]="[ 'config-account',{member_id:data.member_id}]">
        <img src="../../assets/images/ic_edit_24px.png"> {{'edit_account'|translate}}
      </ion-button>
    </div>
    <div class="detail">
      <div class="text">{{'total_point'|translate}}</div>
      <div class="scroe"><img src="../../assets/images/ic_local_activity_24px.png">
        {{getScore(data.member_id)}}
      </div>
      <ion-button class="btn-detail" shape="round" [routerLink]="[ 'score',{member_id:data.member_id}]">
        <ion-icon name="pencil-outline"></ion-icon>
        {{'display_detail'|translate}}
      </ion-button>
    </div>
  </div>
  <ion-list>
    <ion-item button (click)="change_lang()">
      <img src="../../assets/images/repeat-outline.png">
      <ion-label>
        <h3>{{'translate'|translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item button (click)="forgotPassword()">
      <img src="../../assets/images/ic_lock_outline_24px.png">
      <ion-label>
        <h3>{{'config_password'|translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item button [routerLink]="[ 'setting-location-order',{page:'account'}]">
      <img src="../../assets/images/ic_language_24px.png">
      <ion-label>
        <h3>{{'config_local'|translate}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="[ 'book-bank']">
      <img src="../../assets/images/card.png">
      <ion-label>
        <h3>{{'account_bank'|translate}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="[ 'verify']">
      <img src="../../assets/images/shield-checkmark.png">
      <ion-label>
        <h3>{{'verify'|translate}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button hidden>
      <img src="../../assets/images/ic_notifications_active_24px.png">
      <ion-label>
        <h3>{{'config_alert'|translate}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button hidden>
      <img src="../../assets/images/ic_settings_24px.png">
      <ion-label>
        <h3>{{'config_more'|translate}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button hidden>
      <img src="../../assets/images/ic_mail_24px.png">
      <ion-label>
        <h3>{{'contarct_team'|translate}}</h3>
      </ion-label>
    </ion-item>

    <!-- <ion-item button>
      <img src="../../assets/images/ic_block_24px.png">
      <ion-label>
        <h3>ปิดบัญชีการใช้งาน</h3>
      </ion-label>
    </ion-item> -->

    <ion-item button [routerLink]="[ '../../how']">
      <img src="../../assets/images/book.png">
      <ion-label>
        <h3>{{'how_to'|translate}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button (click)="logout()">
      <img src="../../assets/images/ic_system_update_alt_24px.png">
      <ion-label>
        <h3>{{'log_out'|translate}}</h3>
      </ion-label>
    </ion-item>


  </ion-list>
  <div class="version">Sale Concrete Pro Version 1.1.6</div>

</ion-content>