ion-list{
    padding: 0px;
}
.read_bg {
  --background:#f7f7f7;
}
.not_read_bg {
  --background:#e0dede;
}
ion-item {
  .clicle {
    width: 14px;
    height: 14px;
    margin-left: 32px;
    border-radius: 50%;
    margin-top: -2px;
    
  }
  .not_read {
    background-color: #2ca501;
  }
  .read {
    background-color: #7d7b7a;
  }
  ion-label {
    .title {
      font-size: 14px;
      color: #2d2d2d;
    }
    .price {
      font-size: 10px;
      color: #fc4181;
    }
    .time {
      font-size: 10px;
      color: #7d7b7a;
    }
  }
}
