<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="display: none;" [ngStyle]="{'display':user.approve != 1? 'none':'block'}">
    <ion-list>
      <ion-item *ngFor="let auct of listAlert" [ngClass]="{'read_bg': auct.readed == 1,'not_read_bg': auct.readed == 0}"
        (click)="selectAuction(auct.order_id,auct.type_auct)">
        <ion-avatar slot="start">
          <div class="clicle" [ngClass]="{'read': auct.readed == 1,'not_read': auct.readed == 0}"></div>
        </ion-avatar>
        <ion-label>
          <h2 class="title" *ngIf="auct.sale_id != user.member_id">
            <span>{{auct.title}}</span>
          </h2>
          <div class="price" style="white-space: pre-wrap;">
            <span>{{auct.body}}</span>
          </div>
          <div class="time">
            {{auct.time_ago}}
          </div>
        </ion-label>
      </ion-item>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>