<ion-content>
  <div style="margin: 15px 20px 10px 20px">
    <div style="display: inline;">
      <span (click)="profile('refresh')" style="color: cornflowerblue;float:left">
        {{'refresh'|translate}}
      </span>
    </div>
    <div style="display: inline;">
      <span (click)="profile('tab3')" style="color: cornflowerblue;float:right">
        {{'chat'|translate}}
      </span>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div style="padding: 0px 10px 0px 10px;">
    <div style="text-align: center;padding-top: 15vh">
      <img src="../../assets/images/lock.png" width="200px">
      <div style="margin-top: 20px;">
        <label style="color: rgb(34, 34, 34);font-size: larger;">
          {{'not_verify'|translate}}
        </label>
        <br>
        <label style="color: rgb(34, 34, 34);font-size: larger;">
          {{'please_verify'|translate}}
        </label>
        <div style="margin-top: 10px;">
          <ion-button expand="block" shape="round" (click)="route('verify')">
            {{'verify'|translate}}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>